.chapter-item {
  display: flex;
  flex-direction: column;

  .chapter-name {
    line-height: 20px;
    font-size: 12px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.9);
    word-break: break-all;
    text-align: left;
  }

  .chapter-videos-box {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    padding-bottom: 15px;

    .video-item {
      display: flex;
      flex-direction: row;
      margin-top: 8px;
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 4px;
      padding: 5px 10px;

      &:first-child {
        margin-top: 0px;
      }

      &:hover {
        opacity: 0.8;
      }

      .lock-icon {
        width: 20px;
        height: 20px;
        margin-right: 8px;
        flex-shrink: 0;
        padding-top: 8px;
      }

      .video-content {
        flex: 1;
        display: flex;
        flex-direction: column;
      }

      .video-item-basic-info {
        display: flex;
        flex-direction: row;

        .video-title {
          flex: 1;
          display: flex;
          flex-direction: row;
          align-items: center;

          .video-item-title {
            flex: 1;
            color: rgba(255, 255, 255, 0.8);
            line-height: 20px;
            font-size: 14px;
            text-align: left;
            word-break: break-all;
          }
        }
      }

      .video-progress {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 22px;
        font-size: 12px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
        line-height: 22px;
        text-align: left;

        .free {
          line-height: 16px;
          font-size: 12px;
          font-weight: 400;
          padding-left: 2px;
          padding-right: 2px;
          margin-right: 8px;
          background: #04c877;
          border-radius: 2px;
          color: #fff;
        }
      }

      &.active {
        background: linear-gradient(
          to right,
          rgb(60, 167, 250),
          rgba(60, 167, 250, 0.2)
        );

        .video-content {
          .video-item-basic-info {
            .video-title {
              .video-item-title {
                color: #ffffff;
              }
            }
          }

          .video-progress {
            color: rgba(255, 255, 255, 0.8);
          }
        }
      }
    }
  }
}
