.video-item {
  width: 100%;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-top: 30px;
  cursor: pointer;
  overflow: hidden;
  &:first-child {
    margin-top: 0px;
  }
  &:hover {
    opacity: 0.8;
    .video-title {
      color: #3ca7fa;
    }
  }
  .play-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 10px;
  }
  .video-title {
    width: 100%;
    height: 22px;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    line-height: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .active-text {
      color: #3ca7fa;
      width: 173px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      word-break: break-all;
      text-align: left;
    }
    .text {
      width: 173px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      word-break: break-all;
      text-align: left;
    }
    .text2 {
      width: 222px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      word-break: break-all;
      text-align: left;
    }

    .active-text2 {
      color: #3ca7fa;
      width: 222px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      word-break: break-all;
      text-align: left;
    }
    .free {
      margin-left: 5px;
      width: 44px;
      height: 22px;
      background: #04c877;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .video-duration {
    position: absolute;
    height: 14px;
    font-size: 14px;
    font-weight: 400;
    color: #999999;
    line-height: 14px;
    top: 5px;
    right: 0;
  }
}

.sel-video-item {
  width: 100%;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-top: 30px;
  cursor: pointer;
  overflow: hidden;
  &:first-child {
    margin-top: 0px;
  }
  &:hover {
    opacity: 0.8;
    .video-title {
      color: #3ca7fa;
    }
  }
  .play-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 10px;
  }
  .video-title {
    width: 100%;
    height: 22px;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    line-height: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .active-text {
      color: #3ca7fa;
      width: 173px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      word-break: break-all;
      text-align: left;
    }
    .text {
      width: 173px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      word-break: break-all;
      text-align: left;
    }
    .text2 {
      width: 222px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      word-break: break-all;
      text-align: left;
    }

    .active-text2 {
      color: #3ca7fa;
      width: 222px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      word-break: break-all;
      text-align: left;
    }
    .free {
      margin-left: 5px;
      width: 44px;
      height: 22px;
      background: #04c877;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .video-duration {
    position: absolute;
    height: 14px;
    font-size: 14px;
    font-weight: 400;
    color: #999999;
    line-height: 14px;
    top: 5px;
    right: 0;
  }
}
.chapter-item {
  width: 100%;
  height: auto;
  margin-top: 50px;
  &:first-child {
    margin-top: 0px;
  }
  .chapter-name {
    width: 100%;
    height: 16px;
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    line-height: 16px;
    margin-bottom: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    
    .expand-icon {
      font-size: 18px;
      font-weight: bold;
      color: #666;
      transition: transform 0.3s ease;
      user-select: none;
      
      &:hover {
        color: #3ca7fa;
      }
    }
    
    &:hover {
      color: #3ca7fa;
    }
  }
  .chapter-videos-box {
    width: 100%;
    height: auto;
    .sel-video-item {
      width: 100%;
      height: 24px;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      cursor: pointer;
      margin-top: 30px;
      overflow: hidden;
      &:hover {
        opacity: 0.8;
        .video-title {
          color: #3ca7fa;
        }
      }
      .play-icon {
        width: 20px;
        height: 20px;
        cursor: pointer;
        margin-right: 10px;
      }
      .video-title {
        height: 22px;
        font-size: 14px;
        font-weight: 400;
        color: #333333;
        line-height: 14px;
        display: flex;
        flex-direction: row;
        align-items: center;
        .active {
          color: #3ca7fa;
        }
        .text {
          width: 173px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          word-break: break-all;
          text-align: left;
        }
        .text2 {
          width: 222px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          word-break: break-all;
          text-align: left;
        }
        .free {
          margin-left: 5px;
          width: 44px;
          height: 22px;
          background: #04c877;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          font-weight: 400;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .video-info {
        position: absolute;
        height: 24px;
        display: flex;
        align-items: center;
        flex-direction: row;
        font-size: 14px;
        font-weight: 400;
        color: #999999;
        line-height: 14px;
        top: 0px;
        right: 0;
        .active-icon {
          width: 22px;
          height: 22px;
          margin-right: 30px;
        }
      }
    }
    .video-item {
      width: 100%;
      height: 24px;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      cursor: pointer;
      margin-top: 30px;
      overflow: hidden;
      &:hover {
        opacity: 0.8;
        .video-title {
          color: #3ca7fa;
        }
      }
      .play-icon {
        width: 20px;
        height: 20px;
        cursor: pointer;
        margin-right: 10px;
      }
      .video-title {
        height: 22px;
        font-size: 14px;
        font-weight: 400;
        color: #333333;
        line-height: 14px;
        display: flex;
        flex-direction: row;
        align-items: center;
        .active {
          color: #3ca7fa;
        }
        .text {
          width: 173px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          word-break: break-all;
          text-align: left;
        }
        .text2 {
          width: 222px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          word-break: break-all;
          text-align: left;
        }
        .free {
          margin-left: 5px;
          width: 44px;
          height: 22px;
          background: #04c877;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          font-weight: 400;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .video-info {
        position: absolute;
        height: 24px;
        display: flex;
        align-items: center;
        flex-direction: row;
        font-size: 14px;
        font-weight: 400;
        color: #999999;
        line-height: 14px;
        top: 0px;
        right: 0;
        .active-icon {
          width: 22px;
          height: 22px;
          margin-right: 30px;
        }
      }
    }
  }
}
