.announcement {
  width: 100%;
  background-color: #fff9d7;
  color: #de7a0b;
  box-sizing: border-box;
  border-radius: 0px 0px 16px 16px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  display: block;
  text-align: left;
}

.box {
  width: 100%;
  box-sizing: border-box;
  padding-top: 40px;
}
