.tabs {
  width: 100%;
  height: 44px;
  display: flex;
  flex-direction: row;
  position: relative;
  .tab-active-item {
    width: auto;
    height: 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    margin-right: 50px;
    cursor: pointer;
    position: relative;
    color: #333333;
    .actline {
      width: 80px;
      height: 4px;
      background: #3ca7fa;
      position: absolute;
      left: 0px;
      top: 40px;
    }
  }
  .tab-item {
    width: auto;
    height: 20px;
    font-size: 20px;
    font-weight: 500;
    color: #666666;
    line-height: 20px;
    margin-right: 50px;
    cursor: pointer;
    position: relative;
    .actline {
      width: 80px;
      height: 4px;
      background: #3ca7fa;
      position: absolute;
      left: 0px;
      top: 40px;
    }
  }
  .linkTab {
    position: absolute;
    top: 5px;
    right: 54px;
    height: 14px;
    font-size: 14px;
    font-weight: 400;
    color: #3ca7fa;
    line-height: 14px;
    cursor: pointer;
  }
}

.box {
  width: 100%;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .time {
    font-size: 0.8rem;
    margin-top: 16px;
    margin-bottom: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 20px;
    color: rgba(0,0,0,0.6);
  }
}
