.back-bar-box {
  width: 100%;
  height: auto;
  float: left;
  display: flex;
  align-items: center;

  .line {
    width: 1px;
    height: 14px;
    background-color: #d8d8d8;
    margin-right: 15px;
  }

  .name {
    font-size: 14px;
    font-weight: 600;
    color: #333333;
  }
}
