.pay-success-box {
  width: 100%;
  height: auto;
  float: left;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  .icon {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-bottom: 30px;
    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
    }
  }
  .text {
    height: 30px;
    font-size: 18px;
    font-weight: 400;
    color: #333333;
    line-height: 30px;
  }
  .btn-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 56px;
    .button {
      width: 315px;
      height: 48px;
      border-radius: 4px;
      background: #3ca7fa;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: 400;
      color: #fff;
    }
  }
}
