.image-group-box {
  width: 100%;
  height: auto;
  float: left;
  display: flex;
  align-items: center;
}

.image-group-item {
  flex: 1;
  height: 150px;
}

.image-group-item > .image {
  width: 100%;
  height: 150px;
}

.image-group-item > .box {
  width: 100%;
  height: 75px;
}

.image-group-item > .box > .image {
  width: 100%;
  height: 75px;
}

.image-group-item.v-item {
  height: auto;
  float: left;
}

.image-group-item.v-item > .image {
  width: 100%;
  height: auto;
}
