APP_NAME=MeEdu
APP_ENV=production
APP_KEY=base64:s9M5EmBWLWerXU/udZ8biH8GYGKBAEtatGNI2XnzEVM=
APP_DEBUG=false
APP_LOG_LEVEL=debug
APP_URL=http://127.0.0.1:8000

DB_CONNECTION=mysql
DB_HOST=meedu-mysql
DB_PORT=3306
DB_DATABASE=meedu
DB_USERNAME=root
DB_PASSWORD=root

BROADCAST_DRIVER=log
CACHE_DRIVER=database
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=database

REDIS_HOST=meedu-redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=

# 阿里云的视频secret配置中的key
ALIYUN_VIDEO_AUTH_PRIVATE_KEY=

SMS_YUNPIAN_API_KEY=

# Github登录配置
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://demo.demo/login/github/callback

# QQ登录配置
QQ_KEY=
QQ_SECRET=
QQ_CALLBACK_URL=http://demo.demo/login/qq/callback

# 支付宝支付配置
ALI_APP_ID=
ALI_PUBLIC_KEY=
ALI_PRIVATE_KEY=
ALI_RETURN_URL=http://demo.demo/member/order/pay/success
ALI_PAY_NOTIFY_URL=http://demo.demo/payment/callback/alipay

# 微信支付配置
WECHAT_APP_ID=
WECHAT_MINIAPP_ID=
WECHAT_APPID=
WECHAT_MCH_ID=
WECHAT_KEY=
WECHAT_PAY_NOTIFY_URL=http://demo.demo/payment/callback/wechat

# 微信登录配置
WEIXINWEB_KEY=
WEIXINWEB_SECRET=
WEIXINWEB_REDIRECT_URI=http://demo.demo/login/weixinweb/callback

# HTML响应压缩，增快响应速度，默认开启
LARAVEL_PAGE_SPEED_ENABLE=true

# 七牛云存储配置
QINIU_DOMAIN=
QINIU_ACCESS_KEY=
QINIU_SECRET_KEY=
QINIU_BUCKET=

# JWT
JWT_SECRET=

# 阿里云oss
ALI_OSS_ACCESS_ID=
ALI_OSS_ACCESS_KEY=
ALI_OSS_BUCKET=
ALI_OSS_ENDPOINT=
ALI_OSS_DOMAIN=

# 微信小程序
WECHAT_MINI_APP_ID=
WECHAT_MINI_APP_SECRET=

# MeEduCloud
MEEDUCLOUD_DOMAIN=https://meedu.vip
MEEDUCLOUD_USER_ID=
MEEDUCLOUD_PASSWORD=