/node_modules
/public/hot
/public/storage
/public/admin
/storage/*.key
/storage/api-docs
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
bower_components
.php_cs.cache
/storage/meedu_config.json
.DS_Store
php-cs-fixer.phar
/app/Console/Commands/TestCommand.php
_ide_helper.php
package-lock.json
/storage/install.lock
.phpunit.result.cache