* { padding: 0px; margin: 0px; }
a { text-decoration: none; color: #636b6f; }
a:hover { text-decoration: none; color: orange }
li { list-style: none; }
ul { padding: 0px; margin: 0px; }
p { padding: 0px; margin: 0px; }
.color-gray { color: gray; }
body { background-color: #fbfbfb; }
.border { border-radius: 2px; border: 1px solid #eeeeee; }
.breadcrumb { background: transparent; }
span.label { margin-right: 8px; }
.color-fff { color: #ffffff; }
.float-right { float: right; }
.lh-30 { line-height: 30px; }

.share-box {
    padding-top: 10px; padding-bottom: 10px;
}

/** 页头 */
.navbar {
    margin-bottom: 0px; background-color: #ffffff; border-bottom: 0px;
    color: #ffffff;
}

.navbar .navbar-nav a.active { color: orange; }

/** 页脚 */
footer {
    background-color: #303133; color: #dddddd;
    padding-top: 30px; padding-bottom: 30px;
}
.footer-box .friend-link {
    padding-top: 20px; padding-bottom: 20px;
}

/** 登陆界面 */
.login-box {
    background-color: #ffffff; padding: 10px 40px;
    border-radius: 2px; border: 1px solid #eee;
}
.login-box .login-box-title {
    line-height: 80px;
}

/** 首页Banner1 */
.index-banner { background-color: orange; color: #ffffff; }
.index-banner h1 { line-height: 120px; }
.index-banner h4 { line-height: 80px; font-size: 3rem; }
.index-banner .button { line-height: 200px; }
.index-banner .button a {
    display: inline-block; width: 300px; height: 80px;
    border-radius: 4px; border: 1px solid #ffffff;
    background-color: orange; line-height: 80px;
    font-size: 26px; color: #ffffff;
}
.index-banner .button a:hover {
    color: #ffffff; background-color: #ffffff;
    border: 1px solid #eeeeee; color: orange;
}

/** 首页Banner2 */
.index-banner-title h3 {
    line-height: 100px; font-size: 44px; font-weight: 600;
}
.index-banner2 {
    padding-top: 20px; padding-bottom: 50px;
}
.index-banner2 .course {
    padding: 0px 10px;
}
.index-banner2 .course .course-item {
    width: 100%; height: 350px; float: left;
    background-color: #ffffff; cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 10px 0px;
}
.index-banner2 .course .course-item:hover {
    box-shadow: orange 0px 2px 10px 0px;
}
.index-banner2 .course .course-item .thumb {
    width: 100%; height: 300px; float: left;
}
.index-banner2 .course .course-item .thumb img {
    width: 100%; height: 100%;
    border-top-left-radius: 2px; border-top-right-radius: 2px;
}
.index-banner2 .course .course-item .title {
    width: 100%; height: 50px; float: left;
    line-height: 50px; font-size: 18px;
    white-space: nowrap; overflow: hidden;
}

/** 计划Banner */
.roles {
    background-color: #ffffff; padding-top: 20px;
    padding-bottom: 50px;
}
.roles .title {
    line-height: 100px; font-size: 44px; font-weight: 600;
}
.roles .roles-item {
    padding-left: 20px; padding-right: 20px;
}
.roles .roles-item .roles-item-info {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 10px 0px;
    cursor: pointer;
}
.roles .roles-item .active, .roles .roles-item .roles-item-info:hover {
    box-shadow: orange 0px 2px 10px 0px; color: orange;
}
.roles .roles-item .roles-item-info .title {
    line-height: 80px; font-size: 32px; font-weight: 400;
}
.roles .roles-item .roles-item-info p {
    line-height: 60px; font-size: 20px; font-weight: 300;
}
.roles .roles-item .roles-item-info p.price {
    line-height: 100px; font-size: 40px; font-weight: 600;
}
.roles .roles-item .roles-item-info a.buy-button {
    display: inline-block; width: 200px; height: 64px;
    line-height: 64px; font-size: 24px; color: orange;
    border: 1px solid orange; border-radius: 2px;
    margin-top: 20px; margin-bottom: 20px;
}
.roles .roles-item .active a.buy-button, .roles .roles-item .roles-item-info:hover a.buy-button {
    background-color: orange; color: #ffffff;
}

/** 课程列表页面 */
.course-index-banner {
    background-color: orange; color: #ffffff;
}
.course-index-banner h3 {
    line-height: 120px; font-size: 36px; font-weight: 600;
}
.course-index-box {
    margin-top: 20px;
}
.course-index-box .course-item {
    padding-right: 20px; padding-left: 20px;
    margin-bottom: 30px;
}
.course-index-box .course-item .course-item-box {
    width: 100%; height: 390px; float: left;
    background-color: #ffffff; border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 10px 0px;
    cursor: pointer;
}
.course-index-box .course-item .course-item-box:hover {
    box-shadow: orange 0px 2px 10px 0px;
}
.course-index-box .course-item .course-item-box .thumb {
    width: 100%; height: 300px;
}
.course-index-box .course-item .course-item-box .thumb img {
    width: 100%; height: 300px; border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}
.course-index-box .course-item .course-item-box .title {
    line-height: 60px; font-size: 20px; font-weight: 400;
    text-align: center; overflow: hidden; white-space: nowrap;
}
.course-index-box .course-item .course-item-box .intro {
    line-height: 30px; text-align: right; font-size: 14px;
    color: gray;
}
.course-index-box .course-item .course-item-box .intro span {
    margin-right: 10px;
}

/** 课程详情界面 */
.course-detail-banner {
    background-color: orange; padding-top: 15px;
    padding-bottom: 20px;
}
.course-show-box {
    margin-top: 20px; margin-bottom: 20px;
}
.course-show-box .course-video-list-box {
    background-color: #ffffff;
}
.course-show-box .course-video-list-box .course-video-tab {
    border-bottom: 1px solid #eeeeee; text-align: center;
    line-height: 50px; font-size: 18px;
}
.course-show-box .course-video-list-box .course-video-tab .active {
    color: orange; border-bottom: 1px solid orange;
}
.course-show-box .course-video-list-box .course-video-tab .course-video-tab-item {
    cursor: pointer;
}
.course-show-box .course-video-list-box .tab-content-box {
    padding-top: 10px; padding-bottom: 10px;
}
.course-show-box .course-video-list-box .tab-content-box .intro {
    font-size: 1.5rem; line-height: 2rem; font-family: "微软雅黑";
}
.course-show-box .course-video-list-box .tab-content-box .list ul li {
    width: 100%; height: 50px; line-height: 50px; float: left;
    white-space: nowrap; overflow: hidden; font-size: 16px;
    border-bottom: 1px solid #eeeeee; cursor: pointer;
}
.course-show-box .course-video-list-box .tab-content-box .list ul li:hover {
    background-color: #fbfbfb;
}
.course-show-box .comment-box {
    padding-top: 20px; padding-bottom: 20px;
}
.course-show-box .comment-list-box {
    width: 100%;
}
.course-show-box .comment-list-box tr.comment-list-item {
    border-bottom: 1px solid #eeeeee;
}
.course-show-box .comment-list-box .user-info {
    text-align: center;
}
.course-show-box .comment-list-box .comment-list-item .avatar {
    width: 50px; height: 50px; border-radius: 50%; margin-top: 20px;
}
.course-show-box .comment-list-box .comment-list-item .nickname {
    font-size: 12px; line-height: 24px;
}
.course-show-box .comment-list-box .comment-content {
    line-height: 30px; font-size: 14px;
}
.course-show-box .comment-list-box .comment-content p {
    padding-left: 20px;
}


.course-show-box .course-show-page-right{
    padding-left: 20px;
}
.course-show-box .course-show-page-right .option {
    background-color: #ffffff; padding-top: 20px; padding-bottom: 20px;
}
.course-show-box .course-show-page-right .option .join-course-btn {
    display: inline-block; width: 100%; height: 40px; line-height: 40px;
    font-size: 20px; color: #ffffff; background-color: orange;
    text-align: center; border-radius: 2px;
}
.course-show-box .course-show-page-right .option .join-course-btn:hover {
    background-color: #ffffff; color: orange; border: 1px solid orange;
}
.course-show-box .course-show-page-right .news-student {
    margin-top: 20px; background-color: #ffffff;
}

/** 播放界面 */
.video-box {
    background-color: #000; padding-top: 10px; padding-bottom: 10px;
}
.video-box .title {
    color: #ccc; line-height: 60px; white-space: nowrap; overflow: hidden;
    font-size: 1.5rem; font-family: "微软雅黑";
}
.video-box .play-box {
    height: 500px;
}
.video-box .play-box #player {
    height: 500px; width: 100%;
}
.video-box .play-list {
    height: 500px; overflow-y: auto;
    cursor: pointer;
}
.video-box .play-list::-webkit-scrollbar {
    width: 0; height: 0; display: none;
}
.video-box .play-list li {
    width: 100%; height: 40px; float: left;
    line-height: 40px; white-space: nowrap; overflow: hidden;
    font-size: 14px; border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.video-box .play-list li.active {
    color: orange;
}
.video-play-comment-box .comment-list-box {
    width: 100%;
}
.video-play-comment-box .comment-list-box tr.comment-list-item {
    border-bottom: 1px solid #eeeeee;
}
.video-play-comment-box .comment-list-box .user-info {
    text-align: center;
}
.video-play-comment-box .comment-list-box .comment-list-item .avatar {
    width: 50px; height: 50px; border-radius: 50%; margin-top: 20px;
}
.video-play-comment-box .comment-list-box .comment-list-item .nickname {
    font-size: 12px; line-height: 24px;
}
.video-play-comment-box .comment-list-box .comment-content {
    line-height: 30px; font-size: 14px;
}
.video-play-comment-box .comment-list-box .comment-content p {
    padding-left: 20px;
}


/** 会员中心 */
.member {
    margin-top: 10px; margin-bottom: 20px;
}
.member .member-left-box {
    padding-right: 20px;
}
.member .member-left-box .avatar {
    padding-top: 30px; padding-bottom: 30px;
    background-color: #ffffff; text-align: center;
}
.member .member-left-box .avatar img {
    border-radius: 50%;
}
.member .member-left-box .nickname {
    color: #303133; font-size: 2rem; line-height: 2.5rem;
}
.member .member-left-box .member-left-menu {
    margin-top: 20px; background-color: #ffffff;
    padding: 5px 20px;
}
.member .member-left-box .member-left-menu li {
    display: inline-block; width: 100%; height: 50px;
    line-height: 50px; float: left; text-align: center;
    border-bottom: 1px solid #eeeeee;
}
.member .member-box {
    background-color: #ffffff; padding: 10px 20px;
}