.video-item {
  width: 100%;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-top: 30px;
  cursor: pointer;
  &:first-child {
    margin-top: 0px;
  }
  &:hover {
    opacity: 0.8;
    .video-title {
      color: #3ca7fa;
    }
  }

  .play-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-right: 15px;
  }
  .video-title {
    height: 22px;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    line-height: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .free {
      margin-left: 15px;
      width: 44px;
      height: 22px;
      background: #04c877;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .video-duration {
    position: absolute;
    height: 14px;
    font-size: 14px;
    font-weight: 400;
    color: #999999;
    line-height: 14px;
    top: 5px;
    right: 0;
  }
}
.chapter-item {
  width: 100%;
  height: auto;
  margin-top: 50px;
  &:first-child {
    margin-top: 0px;
  }
  .chapter-name {
    width: 100%;
    height: 16px;
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    line-height: 16px;
    margin-bottom: 30px;
    text-align: left;
    &:first-child {
      margin-bottom: 0px;
    }
    &:last-child {
      margin-bottom: 0px;
    }
  }
  .chapter-videos-box {
    width: 100%;
    height: auto;
    .video-item {
      width: 100%;
      height: 24px;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      cursor: pointer;
      margin-top: 30px;
      &:hover {
        opacity: 0.8;
        .video-title {
          color: #3ca7fa;
        }
      }

      .play-icon {
        width: 24px;
        height: 24px;
        cursor: pointer;
        margin-right: 15px;
      }
      .video-title {
        height: 22px;
        font-size: 14px;
        font-weight: 400;
        color: #333333;
        line-height: 14px;

        display: flex;
        flex-direction: row;
        align-items: center;
        .free {
          margin-left: 15px;
          width: 44px;
          height: 22px;
          background: #04c877;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          font-weight: 400;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .video-info {
        position: absolute;
        height: 14px;
        font-size: 14px;
        font-weight: 400;
        color: #999999;
        line-height: 14px;
        top: 5px;
        right: 0;
      }
    }
  }
}
