.course-info {
  width: 1200px;
  height: auto;
  background: #ffffff;
  border-radius: 8px;
  .course-info-box {
    width: 1200px;
    height: 300px;
    box-sizing: border-box;
    padding: 30px 50px 30px 30px;
    position: relative;
    display: flex;
    flex-direction: row;
    .course-thumb {
      width: 320px;
      height: 240px;
      border-radius: 8px;
      margin-right: 50px;
      position: relative;
      overflow: hidden;
      .status {
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: rgba(60, 167, 250);
        color: #fff;
        font-size: 14px;
        padding: 4px;
        border-radius: 4px;
      }
    }
    .info {
      width: 750px;
      height: 240px;
      position: relative;
      text-align: left;
      .course-info-title {
        width: 710px;
        height: 30px;
        font-size: 24px;
        font-weight: 500;
        color: #333333;
        line-height: 24px;
        margin-top: 20px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: left;
      }
      .collect-button {
        width: 29px;
        height: 29px;
        position: absolute;
        right: 0;
        top: 18px;
        cursor: pointer;
      }
      .desc {
        margin-top: 14px;
        width: 750px;
        height: 90px;
        font-size: 16px;
        font-weight: 400;
        color: #666666;
        line-height: 30px;
        overflow: hidden;
        text-align: left;
      }
      .btn-box {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        float: left;
        display: flex;
        flex-direction: row;
        .has-button {
          background: #f4fafe;
          border-radius: 4px;
          padding: 20px;
          font-size: 16px;
          font-weight: 400;
          color: #999999;
          line-height: 16px;
          box-sizing: border-box;
          cursor: pointer;
        }
        .buy-button {
          background: #ff4d4f;
          border-radius: 4px;
          padding: 20px;
          font-size: 16px;
          font-weight: 400;
          color: #ffffff;
          line-height: 16px;
          box-sizing: border-box;
          cursor: pointer;
          &:hover {
            opacity: 0.8;
          }
        }
        .role-button {
          background: #e1a500;
          border-radius: 4px;
          padding: 20px;
          font-size: 16px;
          font-weight: 400;
          color: #ffffff;
          line-height: 16px;
          box-sizing: border-box;
          margin-left: 20px;
          cursor: pointer;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}

.coursr-desc {
  padding: 30px;
  background: #ffffff;
  margin-top: 30px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  line-height: 30px;
  text-align: left;
}

.course-chapter-box {
  width: 1200px;
  padding: 50px 30px;
  box-sizing: border-box;
  background: #ffffff;
  margin-top: 30px;
  border-radius: 8px;
}

.attach-list-box {
  width: 1200px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 50px 30px;
  background: #ffffff;
  margin-top: 30px;
  border-radius: 8px;
  .attach-item {
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    &:first-child {
      margin-top: 0px;
    }

    .attach-name {
      height: 16px;
      font-size: 16px;
      font-weight: 500;
      color: #333333;
      line-height: 16px;
      text-align: left;
    }
    .download-attach {
      margin-left: 30px;
      width: 104px;
      height: 40px;
      background: #3ca7fa;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: 400;
      color: #ffffff;
      cursor: pointer;
    }
  }
}
