.layout-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

.right-cont {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f1f2f9;
  .right-top {
    height: 56px;
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10;
  }
  .right-main {
    float: left;
    height: auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* Firefox */
    -webkit-box-sizing: border-box;
    /* Safari */
    padding: 20px;
    overflow-x: auto;
    overflow-y: auto;
  }
}

.app-header {
  width: 100%;
  // position: sticky;
  // top: 0;
  // left: 0;
  // right: 0;
  height: 56px;
  background: #ffffff;
  z-index: 100;
  .main-header {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    .App-logo {
      width: 112px;
      height: 30px;
      margin-left: 20px;
      cursor: pointer;
    }

    .page-name {
      flex: 1;
      padding-left: 30px;
      font-size: 20px;
      font-weight: 600;
      color: #333333;
      line-height: 56px;
      text-align: left;
    }
    .device-bar {
      width: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      .device-item {
        width: 95px;
        height: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 14px;
        font-weight: 400;
        color: #666666;
        line-height: 20px;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
        img {
          width: 20px;
          height: 20px;
          margin-right: 5px;
        }
      }
      .column {
        width: 1px;
        height: 20px;
        background: #d8d8d8;
        margin-right: 15px;
        margin-left: 15px;
      }
    }
    .user-info {
      width: auto;
      padding-right: 30px;
      cursor: pointer;
      .name {
        display: inline-block;
        position: relative;
        color: #606266;
        font-size: 14px;
      }
    }
  }
}
