.error {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  .empty-box {
    width: 500px;
    height: 500px;
    position: relative;
    img {
      width: 500px;
      height: 500px;
      cursor: pointer;
    }
    .text {
      position: absolute;
      top: 350px;
      left: 0;
      width: 500px;
      height: auto;
      font-size: 20px;
      color: #3ca7fa;
      text-align: center;
      z-index: 10;
    }
  }
}
