.container {
  box-sizing: border-box;
  padding-top: 50px;
  background: #f6f6f6;
  position: absolute;
  left: 0;
  top: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
.normal-box {
  width: 100%;
  height: 105px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px 15px;
  margin-top: 10px;
  text-align: left;
  .orderNum {
    width: 100%;
    height: 15px;
    font-size: 15px;
    font-weight: 600;
    color: #333333;
    line-height: 15px;
    margin-bottom: 33px;
    span {
      margin-left: 10px;
      font-weight: 400;
      color: #666666;
    }
  }
  .price {
    width: 100%;
    height: 20px;
    font-size: 15px;
    font-weight: 600;
    color: #333333;
    line-height: 20px;
    .red {
      height: 20px;
      font-size: 14px;
      font-weight: 600;
      color: #ff5858;
      line-height: 20px;
      strong {
        font-size: 18px;
      }
    }
  }
}
.pay-box {
  width: 100%;
  height: auto;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px 15px;
  margin-top: 10px;
  text-align: left;
  .tit {
    width: 100%;
    height: 15px;
    font-size: 15px;
    font-weight: 600;
    color: #333333;
    line-height: 15px;
    span {
      font-size: 12px;
      line-height: 15px;
      font-weight: 400;
    }
  }
  .text {
    width: 100%;
    height: auto;
    font-size: 15px;
    font-weight: 400;
    color: #666666;
    line-height: 24px;
    margin-top: 20px;
  }
}
.btns {
  width: 100%;
  box-sizing: border-box;
  height: 46px;
  padding: 0px 15px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  .btn-confirm {
    width: 100%;
    height: 46px;
    background: #3ca7fa;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    &:hover {
      opacity: 0.8;
    }
  }
}
