.index-section-box {
  width: 100%;
  margin-top: 10px;
  background: #ffffff;
  padding: 25px 15px 20px 15px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.index-section-title {
  width: 100%;
  height: 19px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.index-section-title > .index-section-title-text {
  height: 19px;
  font-size: 19px;
  font-weight: 600;
  color: #333333;
  line-height: 19px;
}

.index-section-title > .more {
  display: inline-block;
  width: auto;
  height: 13px;
  font-size: 13px;
  font-weight: 400;
  color: #999999;
  line-height: 13px;
  cursor: pointer;
}

.index-section-body {
  width: 100%;
}

.index-section-body > .vod-course-item {
  width: 100%;
  display: flex;
  margin-bottom: 15px;
}

.index-section-body > .vod-course-item:last-child {
  margin-bottom: 0px;
}
