APP_ENV=production
# APP_KEY 必须自行生成!可执行 `php artisan key:generate` 自动生成
APP_KEY=
APP_DEBUG=false
APP_LOG_LEVEL=debug
APP_URL=http://127.0.0.1:8000
APP_LANG=zh

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=meedu
DB_USERNAME=root
DB_PASSWORD=root

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_DB=0

# JWT - 必须配置!可执行 `php artisan jwt:secret` 自动生成
JWT_SECRET=

# 是否关闭不推荐API的访问
CLOSE_DEPRECATED_API=false
# IP限流白名单
THROTTLE_WHITELIST_IP=
# 信任的代理IP
TRUSTED_PROXIES=
# 是否开启队列[sync:不开启,redis:开启]
QUEUE_DRIVER=sync