// Variables
@import "variables";
@import "common";

/* source-sans-pro-300 */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-300.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro'), local('SourceSans Pro-Normal'),
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-300.woff') format('woff'), /* Modern Browsers */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-300.svg#SourceSans Pro') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-300italic */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  src: url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-300italic.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro'), local('SourceSans Pro-Italic'),
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-300italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-300italic.woff') format('woff'), /* Modern Browsers */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-300italic.svg#SourceSans Pro') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-regular */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: regular;
  src: url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-regular.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro'), local('SourceSans Pro-Normal'),
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-regular.woff') format('woff'), /* Modern Browsers */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-regular.svg#SourceSans Pro') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-italic */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: regular;
  src: url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-italic.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro'), local('SourceSans Pro-Italic'),
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-italic.woff') format('woff'), /* Modern Browsers */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-italic.svg#SourceSans Pro') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-500 */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 500;
  src: url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-500.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro'), local('SourceSans Pro-Normal'),
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-500.woff') format('woff'), /* Modern Browsers */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-500.svg#SourceSans Pro') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-500italic */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 500;
  src: url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-500italic.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro'), local('SourceSans Pro-Italic'),
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-500italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-500italic.woff') format('woff'), /* Modern Browsers */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-500italic.svg#SourceSans Pro') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-600 */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-600.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro'), local('SourceSans Pro-Normal'),
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-600.woff') format('woff'), /* Modern Browsers */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-600.svg#SourceSans Pro') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-600italic */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  src: url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-600italic.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro'), local('SourceSans Pro-Italic'),
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-600italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-600italic.woff') format('woff'), /* Modern Browsers */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-600italic.svg#SourceSans Pro') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-700 */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-700.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro'), local('SourceSans Pro-Normal'),
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-700.woff') format('woff'), /* Modern Browsers */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-700.svg#SourceSans Pro') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-700italic */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 700;
  src: url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-700italic.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro'), local('SourceSans Pro-Italic'),
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-700italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-700italic.woff') format('woff'), /* Modern Browsers */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-700italic.svg#SourceSans Pro') format('svg'); /* Legacy iOS */
}

.tab {
  width: 100%; height: auto; float: left; border: 1px solid #dddddd;
  border-radius: 2px;
  .tab-header {
    ul {
      width: 100%; height: 46px; float: left; padding: 0px; margin: 0px;
      border-bottom: 1px solid #dddddd;
      li {
        padding: 0px 10px; line-height: 46px; float: left; cursor: pointer;
        list-style: none; border-right: 1px solid #dddddd;
      }
      li.active {
        background-color: #45aaf2; color: #ffffff; font-weight: 800;
      }
    }
  }
  .tab-body {
    padding: 10px 2%; width: 96%; float: left;
    .tab-body-box {
      width: 100%; height: auto; float: left; display: none;
    }
    .active {
      display: block;
    }
  }
}