.tech-support {
  width: 100%;
  height: auto;
  float: left;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  margin-bottom: 53px;
}

.inline-img {
  display: inline-block;
  img {
    width: 115px;
    height: 42px;
  }
}
