.box {
  width: 1200px;
  margin: 0 auto;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  .title {
    width: 100%;
    height: 26px;
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    position: relative;
    color: #333333;
    text-align: center;
  }
}
.buttons {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
  .send-sms-button {
    display: inline-block;
    width: auto;
    height: 18px;
    font-size: 18px;
    font-weight: 400;
    color: #3ca7fa;
    line-height: 18px;
    cursor: pointer;
    :hover {
      opacity: 0.8;
    }
  }
}
