.notice-box {
  width: 100%;
  height: auto;
  float: left;
  box-sizing: border-box;
  background-color: #fff9d7;
  padding: 17px 30px;
  font-size: 16px;
  font-weight: 400;
  color: #de7a0b;
  line-height: 22px;
  cursor: pointer;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  text-align: left;
}
