$primary: #0B76DE !default;
$secondary: #344962 !default;
$light: #38AECC !default;
$primary2: #36567C;
$dark: #1A2B3F;
$bg1: #202020;
$c1: #8c8c8c;
$c2: #777777;
$c999: #999999;
$ce5: #e5e5e5;

$border-color: $c2 !default;

$container-max-widths: (
        sm: 540px,
        md: 1230px,
        lg: 1230px,
        xl: 1230px
) !default;

@import "~bootstrap/scss/bootstrap";

a {
  color: $c2;
}

.c-primary {
  color: $primary !important;
}

.c-fff {
  color: #ffffff !important;
}

.c-2 {
  color: $c2 !important;
}

.bg-fff {
  background-color: #ffffff;
}

.bg-1 {
  background-color: $bg1;
}

.bg-f6 {
  background-color: #f6f6f6;
}

.mb-10 {
  margin-bottom: 10px;
}

.br-8 {
  border-radius: 8px;
}

.br-50 {
  border-radius: 50%;
}

.br-12 {
  border-radius: 12px;
}

.br-top-8 {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.br-bottom-8 {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.border-f7f7f7 {
  border-color: #eeeeee !important;
}

.pt-10px {
  padding-top: 10px;
}

.pb-10px {
  padding-bottom: 10px;
}

.pb-24px {
  padding-bottom: 24px;
}

.mt-120px {
  margin-top: 120px;
}

.fw-400 {
  font-weight: 400;
}

.fs-14px {
  font-size: 14px;
}

.fs-18px {
  font-size: 18px;
}

.fs-24px {
  font-size: 24px;
}

.box-shadow1 {
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
}

.pagination {
  margin-bottom: 0px;
}

.t1 {
  &:hover {
    opacity: 1 !important;
    box-shadow: rgba(45, 45, 45, 0.05) 0px 2px 2px, rgba(49, 49, 49, 0.05) 0px 4px 4px, rgba(42, 42, 42, 0.05) 0px 8px 8px, rgba(32, 32, 32, 0.05) 0px 16px 16px;
    transform: translate(0, -4px);
    -webkit-transform: translate(0, -4px);
    -moz-transform: translate(0, -4px);
    -o-transform: translate(0, -4px);
  }
}

footer.footer-box {
  background: #0e0c1e;
  padding-top: 30px;

  p {
    font-size: 14px;
    font-weight: 400;
    color: rgba(256, 256, 256, .4);
    margin-bottom: 30px;

    a {
      color: rgba(256, 256, 256, .4);
    }
  }
}

.auth-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1111;
  background-color: rgba(0, 0, 0, .5);
  display: none;

  #auth-box-content {
    margin-top: 200px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;

    .login-box {
      .login-box-title {
        line-height: 24px;

        .title {
          font-size: 24px;
          font-weight: 600;
          color: rgba(51, 51, 51, 1);
        }

        .close-auth-box {
          float: right;
          line-height: 24px;
          cursor: pointer;
        }

        .close-auth-box:hover {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
          -webkit-transition: -webkit-transform 1s linear;
          transition: transform 1s linear;
        }
      }

      .login-box-menu {
        text-align: right;
        font-size: 14px;
        font-weight: 400;
        color: $primary;
        line-height: 14px;
        padding-top: 36px;
        padding-bottom: 36px;
      }

      .login-remember {
        font-size: 14px;
        color: #999999;
        line-height: 14px;

        .show-find-password {
          border-left: 2px solid #D8D8D8;
          padding-left: 5px;
          margin-left: 5px;
          line-height: 14px;
          cursor: pointer;
        }

        .show-register-box {
          cursor: pointer;
        }
      }

      .auth-box-errors {
        font-size: 14px;
        font-weight: 400;
        color: rgba(255, 64, 64, 1);
        line-height: 14px;
      }

      .socialite-item {
        display: inline-block;
        width: 44px;
        height: 44px;
        text-align: center;
        line-height: 44px;
        background-color: $primary;
        opacity: .4;
        color: #ffffff;
        border-radius: 22px;
        margin-right: 10px;
        margin-top: 15px;
      }

      .socialite-item:hover {
        opacity: 1;
      }
    }
  }

  .show-login-box {
    cursor: pointer;
  }

  .cursor-pointer {
    cursor: pointer;
    color: $primary;
    opacity: .6;
  }

  .cursor-pointer:hover {
    opacity: 1;
  }
}

.nav-box {
  box-shadow: 0px 4px 8px 0px rgba(229, 229, 229, 1);

  nav {
    &.navbar {
      padding: 0px;
    }

    .nav-item {
      margin-right: 5px;
      font-size: 16px;

      a {
        color: $c999;
      }

      a.active {
        color: $primary;
        font-weight: 800;
      }

      a:hover {
        color: $primary;
      }
    }

    .search-input {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      font-size: 14px;
      height: 40px;
    }

    .search-button {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      height: 40px;
    }

    .role-vip-button {
      width: 80px;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      color: #E1A500;
      padding-top: 13px;
      padding-bottom: 13px;

      p {
        margin-bottom: 0px;
      }
    }

    .role-vip-button:hover, .message-button:hover, .user-avatar-button:hover, .role-vip-button.active, .message-button.active {
      background-color: rgba(11, 118, 222, .1);
      text-decoration: none;
    }

    .message-button {
      position: relative;
      width: 80px;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      color: #999999;
      padding-top: 13px;
      padding-bottom: 13px;

      p {
        margin-bottom: 0px;
      }

      .message-count {
        position: absolute;
        top: 13px;
        right: 13px;
        z-index: 11;
        border-radius: 6px;
        background-color: #FF4040;
        color: #ffffff;
        font-size: 10px;
        padding-left: 4px;
        padding-right: 4px;
      }
    }

    .user-avatar {
      .user-avatar-button {
        display: inline-block;
        width: 80px;
        height: auto;
        text-align: center;
        padding: 15px 20px;
        cursor: pointer;

        img {
          border-radius: 20px;
        }
      }

      .dropdown-menu {
        padding-top: 0px;
        padding-bottom: 0px;
        min-width: 126px;

        .dropdown-item {
          height: 48px;
          width: 126px !important;
          line-height: 48px;
          font-size: 14px;
          font-weight: 400;
          padding: 0px 17px !important;

          &:hover {
            background-color: rgba(11, 118, 222, .1);
          }

          img {
            &.avatar {
              border-radius: 10px;
            }

            margin-right: 10px;
            margin-top: -1px;
          }

          &.vip {
            color: #E1A500;
          }
        }
      }
    }

    .login-button {
      width: 80px;
      height: 34px;
      border-radius: 17px;
      background-color: $primary;
      text-align: center;
      line-height: 34px;
      font-size: 14px;
      font-weight: 400;
      color: #ffffff;
      margin-left: 10px;
    }

    .login-button:hover {
      text-decoration: none;
      cursor: pointer;
      box-shadow: 0px 2px 4px 0px $ce5;
    }
  }
}

.slider-box {
  margin-top: 30px;
  height: 400px;

  img {
    border-radius: 8px;
  }
}

.course-menu-box {
  width: 100%;
  height: 72px;
  background: #ffffff;
  box-shadow: 0px 4px 8px 0px #e5e5e5;
  border-radius: 8px;
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 30px;

  .menu-item {
    width: 124px;
    height: 72px;
    float: left;
    line-height: 72px;
    font-size: 16px;
    color: rgba(102, 102, 102, 1);
    cursor: pointer;

    a {
      color: rgba(102, 102, 102, 1);
    }
  }

  .menu-item.active {
    font-weight: 600;

    a {
      padding-bottom: 24px;
      color: $primary;
      border-bottom: 4px solid $primary;
    }
  }

  .menu-item:hover {
    font-weight: 600;

    a {
      color: $primary;
      text-decoration: none;
    }
  }

  .menu-announcement {
    width: auto;
    height: 52px;
    float: right;
    margin-top: 10px;
    line-height: 52px;
    background: rgba(255, 249, 215, 1);
    box-shadow: 0px 2px 4px 0px rgba(229, 229, 229, 1);
    border-radius: 27px;
    padding-left: 20px;
    padding-right: 20px;

    a {
      font-size: 16px;
      font-weight: 400;
      color: rgba(222, 122, 11, 1);
    }
  }
}

.category-box {
  width: 100%;
  height: auto;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;

  .category-box-item {
    display: inline-block;
    width: auto;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 23px;
    margin-bottom: 20px;
  }

  .category-box-item:hover {
    text-decoration: none;
    background-color: rgba(11, 118, 222, 0.2);
    border-radius: 15px;
    color: rgba(11, 118, 222, 1);
  }

  .category-box-item.active {
    background-color: rgba(11, 118, 222, 0.2);
    border-radius: 15px;
    color: rgba(11, 118, 222, 1);
  }
}

.course-list-box {
  width: 100%;
  height: auto;
  float: left;

  .course-list-item {
    width: 280px;
    height: 298px;
    float: left;
    margin-right: 27px;
    margin-bottom: 40px;
    background-color: #ffffff;
    border-radius: 8px;

    &:hover {
      box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    }

    .course-thumb {
      width: 280px;
      height: 210px;
      float: left;

      img {
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
      }
    }

    .course-title {
      width: 100%;
      height: 46px;
      float: left;
      background-color: #ffffff;
      padding-left: 10px;
      padding-right: 10px;
      line-height: 46px;
      font-size: 16px;
      word-break: keep-all;
      white-space: nowrap;
      overflow: hidden;
      color: #333333;
    }

    .course-category {
      width: 100%;
      height: auto;
      float: left;
      background-color: #ffffff;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 15px;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;

      .video-count-label {
        font-size: 14px;
        color: #666666;
        line-height: 22px;
      }

      .category-label {
        float: right;
        padding-left: 8px;
        padding-right: 8px;
        font-size: 10px;
        line-height: 22px;
        color: #ffffff;
        background-color: rgba(102, 102, 102, .4);
        border-radius: 4px;
      }
    }
  }

  .course-list-item.last {
    margin-right: -1px;
  }
}

.pagination {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.friend-link-box {
  background-color: #120f22;

  .friend-link-box-logo {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .friend-link-box-link {
    padding-bottom: 50px;

    a {
      font-size: 14px;
      font-weight: 400;
      color: rgba(256, 256, 256, .2);
      margin-right: 50px;

      &:hover {
        color: rgba(256, 256, 256, 1);
        text-decoration: none;
      }
    }
  }
}

.video-item {
  cursor: pointer;
  transition: box-shadow .3s ease-out, transform .3s ease-out, opacity .4s ease-out;
  transition-delay: .1s;
  transform: translateZ(0);

  .video-item-box {
    width: 100%;
    height: auto;
    float: right;

    .video-thumb-direct {
      width: 100%;
      height: 192px;
      float: left;
    }

    .video-thumb {
      width: 100%;
      height: 192px;
      float: left;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      background-color: rgba(0, 0, 0, .6);

      .video-thumb-img {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        position: relative;
        z-index: -1;
        width: 100%;
        height: 192px;
        float: left;
        color: #ffffff;
        text-align: center;
      }
    }

    .video-title {
      width: 100%;
      height: auto;
      float: left;
      font-size: 14px;

      span {
        margin: 5px 10px 0px 10px;
      }
    }

    .video-extra {
      width: 100%;
      height: auto;
      float: left;
      font-size: 14px;
      line-height: 20px;

      span {
        margin: 5px 10px 0px 10px;
      }
    }

    .video-list-box {
      width: 100%;
      height: auto;
      float: left;
      border-top: 1px dashed #f6f6f6;

      .video-list-box-item {
        width: 100%;
        float: left;
        height: 30px;
        line-height: 30px;
        font-size: 12px;

        div {
          height: 30px;
        }
      }
    }
  }

  &:hover {
    .video-thumb {
      background-color: rgba(0, 0, 0, 0);
    }
  }
}

.role-item {
  cursor: pointer;

  .role-item-box {
    width: 100%;
    height: auto;
    float: left;

    .name {
      font-size: 36px;
      color: #212529;
    }

    .price {
      font-size: 36px;
      font-weight: 800;
      color: #212529;
    }

    .desc-item {
      font-size: 12px;
      padding: 0px;
      margin-bottom: 5px;
      color: $c2;
    }
  }
}

.user-banner-menu {
  background-color: #ffffff;
  line-height: 36px;

  a {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;

    &:hover, &.active {
      text-decoration: none;
      color: $primary;
      border-bottom: 3px solid $primary;
    }
  }
}

.course-video-list {
  width: 100%;
  height: auto;
  float: left;

  dd {
    &:hover {
      background-color: $primary;

      a {
        color: #ffffff;
      }
    }

    &.active {
      a {
        color: #ffffff;
        font-weight: 800;
        background-color: $primary;
      }
    }
  }
}

.course-category-item {
  &.active {
    color: $primary;
    font-size: 1.2rem;
    font-weight: 800;
  }
}

.comment-box {
  .comment-user {
    span.nickname {
      font-size: 14px;
      line-height: 30px;
    }

    .v-tag {
      font-size: 10px;
    }

    .date {
      font-size: 10px;
      line-height: 18px;
    }
  }

  .comment-content {
    padding-left: 65px;
  }
}

.course-detail-banner {
  background-color: #1a1a1a;

  .breadcrumb {
    background-color: #1a1a1a;

    a:hover {
      color: #999999;
    }
  }
}

.course-detail {
  color: #ffffff;
  position: relative;
  background-color: #242424;

  .course-detail-thumb {
    width: 510px;
    height: 384px;
    float: left;
  }

  .course-detail-thumb-sm {
    display: none;
    width: 100%;
    height: auto;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .course-detail-box {
    padding: 10px 20px;

    .course-detail-title h3 {
      font-size: 22px;
      font-weight: 400;
      margin-bottom: 10px;
      margin-top: 10px;
    }

    .course-detail-info, .course-detail-desc {
      color: #999999;
    }

    .course-detail-price {
      position: absolute;
      right: 2%;
      height: auto;
      color: #999999;
      bottom: 0;
      padding-bottom: 10px;
    }
  }
}

.course-fixed-menu {
  position: fixed;
  top: 40%;
  right: 5%;
  width: 60px;
  height: auto;
  z-index: 11;

  .course-fixed-menu-item {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    font-size: 16px;
    text-align: center;
    line-height: 60px;
    float: left;
    margin-bottom: 10px;
    border: 1px solid #fbfbfb;
    background-color: #ffffff;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  }
}

@include media-breakpoint-down(sm) {
  .index-course-banner {
    display: none;
  }
  .course-fixed-menu {
    display: none;
  }
  .user-banner-menu {
    width: 100%;

    a {
      padding-right: 0px;
      padding-left: 0px;
      padding-bottom: 5px;
      display: inline-block;
      width: 100%;
      float: left;

      &.active {
        border-bottom: 0px;
      }
    }
  }
}

.announcement-title {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px dashed #dddddd;
  text-align: center;

  .announcement-intro {
    font-size: 14px;
    color: #bbbbbb;
  }
}

.announcement-content {
  padding: 10px 20px;
}

@include media-breakpoint-down(md) {
  .course-fixed-menu {
    display: none;
  }

  .course-detail-thumb {
    display: none;
  }
  .course-detail-thumb-sm {
    display: block !important;
  }
  .course-detail-price {
    position: relative !important;
  }
}