$primary: #0B76DE !default;
$secondary: #344962 !default;
$light: #38AECC !default;
$primary2: #36567C;
$dark: #1A2B3F;
$bg1: #202020;
$c1: #8c8c8c;
$c2: #777777;
$c999: #999999;
$ce5: #e5e5e5;

$border-color: $c2 !default;

$container-max-widths: (
        sm: 540px,
        md: 1230px,
        lg: 1230px,
        xl: 1230px
) !default;

@import "~bootstrap/scss/bootstrap";

body {
  background-color: #f8fafb;
  padding-top: 70px;
  font-family: PingFang SC, Microsoft YaHei, HanHei SC, Helvetica Neue, Open Sans, Arial, Hiragino Sans GB, "\5FAE\8F6F\96C5\9ED1", STHeiti, WenQuanYi Micro Hei, SimSun, sans-serif, HYWenHei-GEW;
}

input.form-control {
  height: 48px !important;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

button.btn {
  height: 48px;
}

a {
  color: $c2;

  &:hover {
    text-decoration: none;
  }
}

.display-none {
  display: none;
}

.c-primary {
  color: $primary !important;
}

.c-fff {
  color: #ffffff !important;
}

.c-2 {
  color: $c2 !important;
}

.bg-fff {
  background-color: #ffffff;
}

.bg-1 {
  background-color: $bg1;
}

.bg-f6 {
  background-color: #f6f6f6;
}

.bg-dark {
  background-color: #323232;
}

.mb-10 {
  margin-bottom: 10px;
}

.br-8 {
  border-radius: 8px;
}

.br-50 {
  border-radius: 50%;
}

.br-12 {
  border-radius: 12px;
}

.br-top-8 {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.br-bottom-8 {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.border-f7f7f7 {
  border-color: #eeeeee !important;
}

.pt-10px {
  padding-top: 10px;
}

.pb-10px {
  padding-bottom: 10px;
}

.pb-24px {
  padding-bottom: 24px;
}

.mt-120px {
  margin-top: 120px;
}

.fw-400 {
  font-weight: 400;
}

.fs-14px {
  font-size: 14px;
}

.fs-18px {
  font-size: 18px;
}

.fs-24px {
  font-size: 24px;
}

.box-shadow1 {
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
}

.t1 {
  &:hover {
    opacity: 1 !important;
    box-shadow: rgba(45, 45, 45, 0.05) 0px 2px 2px, rgba(49, 49, 49, 0.05) 0px 4px 4px, rgba(42, 42, 42, 0.05) 0px 8px 8px, rgba(32, 32, 32, 0.05) 0px 16px 16px;
    transform: translate(0, -4px);
    -webkit-transform: translate(0, -4px);
    -moz-transform: translate(0, -4px);
    -o-transform: translate(0, -4px);
  }
}

footer.footer-box {
  width: 100%;
  height: auto;
  background: #0e0c1e;
  padding-top: 30px;

  p {
    font-size: 14px;
    font-weight: 400;
    color: rgba(256, 256, 256, .3);
    margin-bottom: 30px;

    a {
      color: rgba(256, 256, 256, .3);
    }
  }
}

.auth-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
  background-color: rgba(0, 0, 0, .5);
  display: none;

  #auth-box-content {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;

    .login-box {
      .login-box-title {
        line-height: 24px;

        .title {
          font-size: 24px;
          font-weight: 600;
          color: rgba(51, 51, 51, 1);
        }

        .close-auth-box {
          float: right;
          line-height: 24px;
          cursor: pointer;
        }

        .close-auth-box:hover {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
          -webkit-transition: -webkit-transform 1s linear;
          transition: transform 1s linear;
        }
      }

      .login-box-menu {
        text-align: right;
        font-size: 14px;
        font-weight: 400;
        color: $primary;
        line-height: 14px;
        padding-top: 36px;
        padding-bottom: 36px;
      }

      .login-remember {
        font-size: 14px;
        color: #999999;
        line-height: 14px;

        .show-find-password {
          border-left: 2px solid #D8D8D8;
          padding-left: 5px;
          margin-left: 5px;
          line-height: 14px;
          cursor: pointer;
        }

        .show-register-box {
          cursor: pointer;
        }
      }

      .auth-box-errors {
        font-size: 14px;
        font-weight: 400;
        color: rgba(255, 64, 64, 1);
        line-height: 14px;
      }

      .socialite-item {
        display: inline-block;
        width: 44px;
        height: 44px;
        margin-right: 10px;
      }
    }
  }

  .show-login-box {
    cursor: pointer;
  }

  .cursor-pointer {
    cursor: pointer;
    color: $primary;
    opacity: .6;
  }

  .cursor-pointer:hover {
    opacity: 1;
  }
}

.nav-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 4px 10px 0 rgba(153, 153, 158, .2);
  background-color: white;

  nav {
    &.navbar {
      padding: 0;
    }

    .navbar-brand {
      margin-left: 2.5%;
      margin-right: 0;
    }

    .navbar-nav {
      margin-left: 4.1%;
      width: auto;
      height: 71px;
      float: left;

      .nav-item {
        position: relative;
        width: auto;
        height: 71px;
        line-height: 71px;
        float: left;
        margin-right: 34px;

        a.nav-link {
          font-size: 16px;
          color: #333333;
          padding: 0 8px;
        }

        a.nav-link.active {
          color: $primary;
          font-weight: 800;
        }

        a.nav-link:hover {
          color: $primary;
        }

        // 子元素
        .nav-children {
          display: none;
          position: absolute;
          top: 70px;
          left: -66px;
          width: 186px;
          height: auto;
          background-color: white;
          padding: 12px 22px;
          border-radius: 2px;
          border: 1px solid rgb(245, 246, 246);
          box-shadow: rgba(146, 157, 154, .3) 0 4px 10px 0;

          .children-nav-item {
            width: 100%;
            height: auto;
            float: left;
            color: #333333;
            text-align: center;
            line-height: 36px;
            font-size: 16px;

            &.active {
              color: $primary;
              font-weight: 800;
            }

            &:hover {
              color: $primary;
            }
          }
        }

        &:hover {
          .nav-children {
            display: block;
          }
        }
      }

      .search-input {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        font-size: 14px;
        height: 40px !important;

        &::-webkit-input-placeholder {
          color: #999999;
        }
      }
    }

    .search-button {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      height: 40px !important;
    }

    .role-vip-button {
      width: 80px;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      color: #E1A500;
      padding-top: 13px;
      padding-bottom: 13px;

      p {
        margin-bottom: 0px;
      }
    }

    .role-vip-button:hover, .message-button:hover, .user-avatar-button:hover, .role-vip-button.active, .message-button.active {
      opacity: .6;
      text-decoration: none;
    }

    .message-button {
      position: relative;
      width: 80px;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      color: #999999;
      padding-top: 13px;
      padding-bottom: 13px;

      p {
        margin-bottom: 0;
      }

      .message-count {
        position: absolute;
        top: 13px;
        right: 13px;
        z-index: 11;
        border-radius: 6px;
        background-color: #FF4040;
        color: #ffffff;
        font-size: 10px;
        padding-left: 4px;
        padding-right: 4px;
      }
    }

    .user-avatar {
      margin-right: 2.6%;

      .user-avatar-button {
        display: inline-block;
        width: 80px;
        height: auto;
        text-align: center;
        padding: 15px 20px;
        cursor: pointer;

        img {
          border-radius: 20px;
        }
      }

      .dropdown-menu {
        padding-top: 0px;
        padding-bottom: 0px;
        min-width: 126px;
        left: -63px;

        .dropdown-item {
          height: 48px;
          width: 126px !important;
          line-height: 48px;
          font-size: 14px;
          font-weight: 400;
          padding: 0px 17px !important;

          &:hover {
            background-color: rgba(11, 118, 222, .1);
          }

          &.logout {
            span {
              margin-left: -3px;
            }
          }

          img {
            &.avatar {
              border-radius: 10px;
            }

            margin-right: 10px;
            margin-top: -1px;
          }

          &.vip {
            color: #E1A500;
          }
        }
      }
    }

    .login-button, .login-button-hover {
      width: 80px;
      height: 34px;
      border-radius: 17px;
      background-color: $primary;
      text-align: center;
      line-height: 34px;
      font-size: 14px;
      font-weight: 400;
      color: #ffffff;
      margin-left: 10px;
      cursor: pointer;
      margin-right: 2.6%;
    }

    .login-button:hover {
      text-decoration: none;
      box-shadow: 0 2px 4px 0 $ce5;
    }

    .login-button-hover {
      background-color: #ffffff;
      color: $primary;

      &:hover {
        box-shadow: none;
        text-decoration: none;
      }
    }
  }
}

.member-nav-box {
  box-shadow: none;
  background-color: $primary;

  nav {
    .navbar-nav {
      .nav-item {
        a.nav-link {
          color: rgba(255, 255, 255, .4);
        }

        a.nav-link:hover, a.nav-link.active {
          color: rgba(255, 255, 255, 1);
        }
      }
    }

    .message-button {
      color: #ffffff;
    }

    .message-button:hover {
      color: #ffffff;
    }

    .role-vip-button {
      opacity: .6;
    }

    .role-vip-button:hover {
      opacity: 1;
    }

    .message-button {
      p {
        opacity: .4;
      }
    }

    .message-button:hover {
      p {
        opacity: 1;
      }
    }
  }
}

.slider-box {
  padding-top: 30px;
  height: auto;
  background-color: #ffffff;

  img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}

.course-menu-box {
  width: 100%;
  height: 72px;
  background: #ffffff;
  box-shadow: 0px 4px 8px 0px #e5e5e5;
  border-radius: 8px;
  margin-bottom: 30px;
  padding-left: 30px;
  padding-right: 15px;
  margin-top: 30px;

  .menu-item {
    width: 124px;
    height: 72px;
    float: left;
    line-height: 72px;
    font-size: 16px;
    color: rgba(102, 102, 102, 1);
    cursor: pointer;

    a {
      color: rgba(102, 102, 102, 1);
    }
  }

  .menu-item.active {
    font-weight: 600;

    a {
      padding-bottom: 21px;
      color: $primary;
      border-bottom: 4px solid $primary;
    }
  }

  .menu-item:hover {
    font-weight: 600;

    a {
      color: $primary;
      text-decoration: none;
    }
  }
}

.category-box {
  width: 100%;
  height: auto;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;

  .category-box-item {
    display: inline-block;
    width: auto;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 23px;
    margin-bottom: 20px;
  }

  .category-box-item:hover {
    text-decoration: none;
    background-color: rgba(11, 118, 222, 0.2);
    border-radius: 15px;
    color: rgba(11, 118, 222, 1);
  }

  .category-box-item.active {
    background-color: rgba(11, 118, 222, 0.2);
    border-radius: 15px;
    color: rgba(11, 118, 222, 1);
  }
}

.course-list-box {
  width: 100%;
  height: auto;
  float: left;

  .course-list-item {
    width: 280px;
    height: 298px;
    float: left;
    margin-right: 27px;
    margin-bottom: 40px;
    background-color: #ffffff;
    border-radius: 8px;

    &:hover {
      box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    }

    .course-thumb {
      width: 280px;
      height: 210px;
      float: left;

      img {
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
      }
    }

    .course-title {
      width: 100%;
      height: 46px;
      float: left;
      padding-left: 10px;
      padding-right: 10px;
      line-height: 46px;
      font-size: 16px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #333333;
    }

    .course-category {
      width: 100%;
      height: auto;
      float: left;
      background-color: #ffffff;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 15px;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;

      .video-count-label {
        font-size: 14px;
        color: #666666;
        line-height: 22px;
      }

      .category-label {
        float: right;
        padding-left: 8px;
        padding-right: 8px;
        font-size: 10px;
        line-height: 22px;
        color: #ffffff;
        background-color: rgba(102, 102, 102, .4);
        border-radius: 4px;
      }

      .course-user-count {
        width: 50%;
        height: auto;
        float: left;
        font-size: 14px;
        font-weight: 400;
        color: rgba(102, 102, 102, 1);
        line-height: 24px;
      }

      .course-charge {
        width: 50%;
        height: auto;
        float: left;
        text-align: right;

        .charge-value {
          display: inline-block;
          padding: 4px 12px;
          font-size: 12px;
          font-weight: 500;
          line-height: 1;
          color: rgba(255, 64, 64, 1);
          background: rgba(255, 64, 64, .1);
          border-radius: 12px;

          &.free-charge {
            background-color: rgba(0, 128, 0, .2);
            color: rgba(0, 128, 0, .7);
          }
        }
      }
    }
  }

  .course-list-item.last {
    margin-right: -1px;
  }
}

.pagination {
  padding-top: 20px;
  padding-bottom: 20px;
}

.friend-link-box {
  background-color: rgba(20, 14, 35, 1);

  .friend-link-box-logo {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .friend-link-box-link {
    padding-bottom: 50px;

    a {
      font-size: 14px;
      font-weight: 400;
      color: rgba(256, 256, 256, .6);
      margin-right: 50px;

      &:hover {
        color: rgba(256, 256, 256, 1);
        text-decoration: none;
      }
    }
  }
}

.video-item {
  cursor: pointer;
  transition: box-shadow .3s ease-out, transform .3s ease-out, opacity .4s ease-out;
  transition-delay: .1s;
  transform: translateZ(0);

  .video-item-box {
    width: 100%;
    height: auto;
    float: right;

    .video-thumb-direct {
      width: 100%;
      height: 192px;
      float: left;
    }

    .video-thumb {
      width: 100%;
      height: 192px;
      float: left;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      background-color: rgba(0, 0, 0, .6);

      .video-thumb-img {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        position: relative;
        z-index: -1;
        width: 100%;
        height: 192px;
        float: left;
        color: #ffffff;
        text-align: center;
      }
    }

    .video-title {
      width: 100%;
      height: auto;
      float: left;
      font-size: 14px;

      span {
        margin: 5px 10px 0px 10px;
      }
    }

    .video-extra {
      width: 100%;
      height: auto;
      float: left;
      font-size: 14px;
      line-height: 20px;

      span {
        margin: 5px 10px 0px 10px;
      }
    }

    .video-list-box {
      width: 100%;
      height: auto;
      float: left;
      border-top: 1px dashed #f6f6f6;

      .video-list-box-item {
        width: 100%;
        float: left;
        height: 30px;
        line-height: 30px;
        font-size: 12px;

        div {
          height: 30px;
        }
      }
    }
  }

  &:hover {
    .video-thumb {
      background-color: rgba(0, 0, 0, 0);
    }
  }
}

.role-item {
  cursor: pointer;

  .role-item-box {
    width: 100%;
    height: auto;
    float: left;

    .name {
      font-size: 36px;
      color: #212529;
    }

    .price {
      font-size: 36px;
      font-weight: 800;
      color: #212529;
    }

    .desc-item {
      font-size: 12px;
      padding: 0px;
      margin-bottom: 5px;
      color: $c2;
    }
  }
}

.user-banner-menu {
  background-color: #ffffff;
  line-height: 36px;

  a {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;

    &:hover, &.active {
      text-decoration: none;
      color: $primary;
      border-bottom: 3px solid $primary;
    }
  }
}

.course-video-list {
  width: 100%;
  height: auto;
  float: left;

  dd {
    &:hover {
      background-color: $primary;

      a {
        color: #ffffff;
      }
    }

    &.active {
      a {
        color: #ffffff;
        font-weight: 800;
        background-color: $primary;
      }
    }
  }
}

.course-category-item {
  &.active {
    color: $primary;
    font-size: 1.2rem;
    font-weight: 800;
  }
}

.comment-box {
  .comment-user {
    span.nickname {
      font-size: 14px;
      line-height: 30px;
    }

    .v-tag {
      font-size: 10px;
    }

    .date {
      font-size: 10px;
      line-height: 18px;
    }
  }

  .comment-content {
    padding-left: 65px;
  }
}

.course-detail-banner {
  background-color: #1a1a1a;

  .breadcrumb {
    background-color: #1a1a1a;

    a:hover {
      color: #999999;
    }
  }
}

.course-detail {
  color: #ffffff;
  position: relative;
  background-color: #242424;

  .course-detail-thumb {
    width: 510px;
    height: 384px;
    float: left;
  }

  .course-detail-thumb-sm {
    display: none;
    width: 100%;
    height: auto;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .course-detail-box {
    padding: 10px 20px;

    .course-detail-title h3 {
      font-size: 22px;
      font-weight: 400;
      margin-bottom: 10px;
      margin-top: 10px;
    }

    .course-detail-info, .course-detail-desc {
      color: #999999;
    }

    .course-detail-price {
      position: absolute;
      right: 2%;
      height: auto;
      color: #999999;
      bottom: 0;
      padding-bottom: 10px;
    }
  }
}

.course-fixed-menu {
  position: fixed;
  top: 40%;
  right: 5%;
  width: 60px;
  height: auto;
  z-index: 11;

  .course-fixed-menu-item {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    font-size: 16px;
    text-align: center;
    line-height: 60px;
    float: left;
    margin-bottom: 10px;
    border: 1px solid #fbfbfb;
    background-color: #ffffff;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  }
}

@include media-breakpoint-down(sm) {
  .index-course-banner {
    display: none;
  }
  .course-fixed-menu {
    display: none;
  }
  .user-banner-menu {
    width: 100%;

    a {
      padding-right: 0px;
      padding-left: 0px;
      padding-bottom: 5px;
      display: inline-block;
      width: 100%;
      float: left;

      &.active {
        border-bottom: 0px;
      }
    }
  }
}

.announcement-title {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px dashed #dddddd;
  text-align: center;

  .announcement-intro {
    font-size: 14px;
    color: #bbbbbb;
  }
}

.announcement-content {
  padding: 10px 20px;
}

.member-menu-parent {
  background-color: $primary;

  .member-menu {
    padding-top: 221px;
    background-image: url("/images/member-bg.png");
    background-position: bottom center;
    background-repeat: no-repeat;

    .member-menu-box {
      width: 100%;
      height: 71px;
      float: left;
      padding-top: 7px;

      a {
        display: block;
        width: auto;
        height: 24px;
        float: left;
        color: #ffffff;
        margin-right: 60px;
        opacity: .4;

        img {
          float: left;
        }

        .member-menu-item-title {
          display: inline-block;
          float: left;
          margin-left: 10px;
          font-size: 16px;
          font-weight: 400;

          &.vip {
            color: #FFDD34;
          }
        }

        &:hover, &.active {
          text-decoration: none;
          opacity: 1;
        }

        &.active {
          .dot-box {
            display: block;
          }
        }

        .dot-box {
          display: none;
          width: 100%;
          height: 6px;
          float: left;
          text-align: center;
          line-height: 6px;
          padding-top: 16px;

          .dot {
            display: inline-block;
            width: 6px;
            height: 6px;
            border-radius: 3px;
            background-color: #ffffff;
            opacity: .6;
            line-height: 6px;
          }
        }
      }
    }
  }
}

.member-dashboard {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px 0px rgba(229, 229, 229, 1);
  border-radius: 8px;

  .user-info {
    width: 350px;
    height: 312px;
    float: left;
    background: $primary;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    padding-top: 40px;

    .user-avatar {
      margin-bottom: 40px;

      img {
        border-radius: 50px;
      }
    }

    .user-nickname {
      font-size: 18px;
      font-weight: 400;
      color: #ffffff;
      line-height: 18px;
      margin-bottom: 40px;

      .nickname-edit-button {
        display: inline-block;
        margin-left: 15px;
        width: 18px;
        height: 18px;
        opacity: .6;
        line-height: 18px;

        &:hover {
          opacity: 1;
        }
      }
    }

    .user-option {
      .change-avatar-button {
        text-align: center;
        background: rgba(255, 203, 0, 1);
        border-radius: 100px;
        font-size: 14px;
        font-weight: 400;
        color: rgba(11, 118, 222, 1);
        line-height: 14px;
        padding: 10px 16px;

        &:hover {
          text-decoration: none;
          opacity: .8;
        }
      }
    }
  }

  .user-vip {
    width: 350px;
    height: 312px;
    float: left;
    background: linear-gradient(180deg, rgba(50, 50, 50, 1) 0%, rgba(42, 41, 41, 1) 100%);
    border-radius: 0px 8px 8px 0px;
    padding-top: 40px;
    text-align: center;

    .vip-logo {
      margin-bottom: 40px;
    }

    .vip-logo-text {
      font-size: 16px;
      font-weight: 400;
      color: rgba(255, 203, 0, 1);
      line-height: 16px;
      margin-bottom: 41px;
      margin-top: 1px;
    }

    .vip-option {
      .vip-option-button {
        text-align: center;
        background: rgba(255, 203, 0, 1);
        border-radius: 100px;
        font-size: 14px;
        font-weight: 400;
        color: #323232;
        line-height: 14px;
        padding: 10px 16px;

        &:hover {
          text-decoration: none;
          opacity: .8;
        }
      }
    }
  }

  .user-socialite {
    width: 360px;
    height: auto;
    float: left;
    margin-left: 60px;

    .alert-info {
      width: 360px;
      height: 42px;
      background: rgba(255, 249, 215, 1);
      box-shadow: 0px 2px 4px 0px rgba(229, 229, 229, 1);
      border-radius: 21px;
      font-size: 16px;
      font-weight: 400;
      color: rgba(222, 122, 11, 1);
      line-height: 22px;
      margin-bottom: 20px;
      padding: 10px 12px;
    }

    .option-item {
      width: 100%;
      height: 46px;
      float: left;
      padding-top: 10px;
      padding-bottom: 10px;
      line-height: 26px;
      display: flex;

      .option-text {
        display: block;
        width: 120px;
        height: 16px;
        float: left;
        font-size: 16px;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        margin-right: 30px;
      }

      .option-value {
        display: block;
        flex: 1;
        height: 16px;
        float: left;
        font-size: 16px;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
      }

      .option-button {
        display: block;
        width: 58px;
        height: 26px;
        float: right;
        background: $primary;
        border-radius: 100px;
        font-size: 14px;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        line-height: 14px;
        padding: 6px 15px;
        text-align: center;

        &:hover {
          text-decoration: none;
          opacity: .8;
        }
      }
    }
  }
}


.member-message-box, .my-orders, .invite-user-box {
  width: 100%;
  height: auto;
  float: left;
  margin-top: 16px;
  margin-bottom: 80px;

  .member-message-item, .orders-item, .invite-user-item {
    position: relative;
    width: 100%;
    height: 72px;
    float: left;
    line-height: 24px;
    padding: 24px 30px;
    background-color: #ffffff;
    margin-bottom: 1px;

    .red-dot {
      position: absolute;
      top: 32px;
      left: 11px;
      width: 8px;
      height: 8px;
      background: rgba(255, 64, 64, 1);
      border-radius: 4px;
      z-index: 11;
    }

    img {
      float: left;
    }

    .message-content, .order-goods-title, .invite-user-item-nickname {
      width: auto;
      height: 24px;
      display: inline-block;
      float: left;
      font-size: 14px;
      font-weight: 400;
      color: rgba(51, 51, 51, 1);
      margin-left: 15px;
    }

    .member-message-date, .member-list-item-right, .invite-user-item-date {
      float: right;
      width: 126px;
      font-size: 14px;
      font-weight: 400;
      color: rgba(153, 153, 153, 1);
      line-height: 24px;
      margin-right: 60px;
    }

    .member-message-read, .member-message-unread {
      float: right;
      width: 28px;
      font-size: 14px;
      font-weight: 400;
      color: rgba(204, 204, 204, 1);
      line-height: 24px;
    }

    .member-message-unread {
      color: $primary;
    }

    .order-goods-status {
      margin-right: 0px;
    }
  }
}

.promo_code_banner {
  width: 100%;
  height: auto;
  float: left;
  margin-top: 30px;
  margin-bottom: 30px;

  .promo_code_balance {
    width: 527px;
    height: 280px;
    float: left;
    background: rgba(50, 50, 50, 1);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    .promo_code_code {
      width: 100%;
      height: auto;
      float: left;
      margin-top: 70px;
      line-height: 30px;
      margin-bottom: 78px;

      .title {
        width: 90px;
        font-size: 18px;
        font-weight: 400;
        color: rgba(255, 255, 255, .6);
        margin-left: 80px;
      }

      .code {
        font-size: 30px;
        font-weight: 600;
        color: rgba(255, 255, 255, 1);
        margin-left: 50px;
      }
    }

    .promo_code_balance_info {
      width: 100%;
      height: auto;
      float: left;
      line-height: 30px;

      .title {
        width: 90px;
        font-size: 18px;
        font-weight: 400;
        color: rgba(255, 255, 255, .6);
        margin-left: 80px;
      }

      .balance {
        font-size: 30px;
        font-weight: 600;
        color: rgba(255, 255, 255, 1);
        margin-left: 50px;

        small {
          font-size: 18px;
          font-weight: 600;
        }
      }

      .withdraw-button {
        display: inline-block;
        width: 88px;
        height: 34px;
        margin-left: 46px;
        background: rgba(255, 221, 52, 1);
        border-radius: 100px;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        color: rgba(50, 50, 50, 1);
        line-height: 34px;

        &:hover {
          text-decoration: none;
          opacity: .6;
        }
      }
    }
  }

  .promo_code_intro {
    width: 673px;
    height: 280px;
    float: left;
    background: rgba(255, 221, 52, 1);
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;

    .promo_code_intro_title {
      width: 100%;
      height: auto;
      float: left;
      margin-top: 30px;
      line-height: 66px;

      font-size: 18px;
      font-weight: 400;
      color: rgba(36, 35, 35, 1);

      img {
        margin-left: 50px;
        margin-right: 20px;
      }
    }

    .promo_code_intro_content {
      width: 100%;
      height: auto;
      float: left;
      padding-left: 50px;
      margin-top: 20px;

      font-size: 14px;
      font-weight: 400;
      color: rgba(36, 35, 35, 1);
      line-height: 32px;

      p {
        margin-bottom: 5px;
      }
    }
  }
}

.my-courses {
  margin-top: 30px;
}

.my-videos {
  margin-top: 30px;
  width: 100%;
  height: auto;
  float: left;

  .my-videos-item {
    width: 100%;
    height: auto;
    float: left;
    background-color: #ffffff;
    margin-bottom: 30px;
    border-radius: 8px;

    .course-title {
      width: 100%;
      height: auto;
      float: left;
      padding: 30px 20px;
      font-size: 16px;
      font-weight: 500;
      color: rgba(51, 51, 51, 1);
      line-height: 16px;

      .course-info-link {
        float: right;
        font-size: 16px;
        font-weight: 400;
        color: rgba(11, 118, 222, 1);
        line-height: 16px;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .video-item {
      display: block;
      width: 100%;
      height: auto;
      float: left;
      padding: 15px 30px;

      .player {
        display: inline-block;
        width: 24px;
        height: 24px;
        float: left;
        margin-right: 15px;
      }

      .video-title {
        display: inline-block;
        float: left;
        font-size: 16px;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
      }

      .duration {
        float: right;
        font-size: 16px;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
      }
    }
  }
}

.course-banner {
  width: 100%;
  height: 264px;
  background-image: url("/images/member-bg.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  padding-top: 70px;
  background-color: $primary;

  .nav-bar {
    height: 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    margin-bottom: 30px;
    color: rgba(255, 255, 255, .6);

    a {
      color: rgba(255, 255, 255, .6);

      &:hover {
        color: rgba(255, 255, 255, 1);
        text-decoration: none;
      }
    }
  }
}

.course-info-box {
  width: 100%;
  height: 300px;
  float: left;
  margin-top: -150px;
  background-color: #ffffff;
  border-radius: 8px 8px 0px 0px;
  padding: 30px;

  .course-thumb {
    width: 320px;
    height: 240px;
    float: left;
    margin-right: 50px;
    position: relative;

    .course-thumb-img {
      border-radius: 4px;
    }

    .paid {
      width: 100px;
      height: 100px;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 33;
    }
  }

  .course-info {
    width: 750px;
    height: auto;
    float: left;

    .course-title {
      height: 24px;
      font-size: 24px;
      font-weight: 500;
      color: rgba(51, 51, 51, 1);
      line-height: 24px;
      letter-spacing: 1px;
      margin-bottom: 20px;

      .like-button {
        display: inline-block;
        height: 24px;
        width: auto;
        float: right;
        color: #cccccc;
        line-height: 24px;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;

        img {
          float: left;
          margin-right: 10px;
        }

        span {
          float: left;
          display: inline-block;
        }
      }
    }

    .course-description {
      width: 750px;
      height: 90px;
      font-size: 16px;
      font-weight: 400;
      color: rgba(102, 102, 102, 1);
      line-height: 30px;
      margin-bottom: 40px;
    }

    .course-extra-info {
      width: 100%;
      height: auto;
      float: left;
      margin-top: 18px;

      .course-price {
        display: inline-block;
        float: left;
        height: 50px;
        line-height: 50px;
        font-size: 30px;
        font-weight: 600;
        color: rgba(255, 64, 64, 1);
        margin-right: 50px;

        small {
          font-size: 24px;
        }
      }

      .buy-course-button {
        display: inline-block;
        float: left;
        padding-left: 20px;
        padding-right: 20px;
        background-color: rgba(11, 118, 222, .2);
        border-radius: 20px;
        font-size: 16px;
        font-weight: 400;
        color: $primary;
        line-height: 40px;
        margin-right: 30px;
        margin-top: 5px;

        &:hover {
          text-decoration: none;
          opacity: .6;
        }
      }

      .join-role-alert-link {
        display: inline-block;
        width: auto;
        height: 40px;
        margin-top: 5px;
        color: rgba(225, 165, 7, 1);
        vertical-align: middle;

        img {
          display: inline-block;
          float: left;
          line-height: 1;
          margin-top: 7px;
          margin-right: 5px;
        }

        span {
          display: inline-block;
          float: left;
          width: auto;
          height: 16px;
          font-size: 16px;
          font-weight: 400;
          line-height: 1;
          margin-top: 12px;
        }

        &:hover {
          color: rgba(225, 165, 7, .6);
        }
      }

      .buy-course-button {
        background-color: $primary;
        color: #ffffff;
      }
    }
  }
}

.course-chapter {
  width: 100%;
  height: auto;
  float: left;
  margin-bottom: 80px;

  .course-chapter-title {
    width: 100%;
    height: auto;
    float: left;
    padding: 30px;

    font-size: 16px;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    line-height: 16px;

    small.videos-count {
      display: inline-block;
      float: right;
      margin-left: 10px;
      cursor: pointer;
    }
  }

  .course-videos-box {
    width: 100%;
    height: auto;
    float: left;
    display: none;

    &.active {
      display: block;
    }

    .course-videos-item {
      display: flex;
      width: 100%;
      height: auto;
      float: left;
      padding: 18px 30px;
      background-color: #ffffff;
      cursor: pointer;

      &:hover, &.active {
        background-color: rgba(11, 118, 222, .1);

        .player-icon {
          background-image: url("/images/icons/player-hover.png");
        }
      }

      &.first {
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
      }

      &.last {
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
      }

      .player-icon {
        width: 24px;
        height: 24px;
        margin-top: 3px;
        float: left;
        background-image: url("/images/icons/player.png");
        background-size: 100% 100%;
        margin-right: 15px;
      }

      .video-title {
        flex: 1;
        width: auto;
        padding-right: 28px;
        font-size: 16px;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        line-height: 30px;

        &:hover {
          text-decoration: none;
        }

        .free-label {
          padding-left: 8px;
          padding-right: 8px;
          line-height: 22px;
          margin-top: 4px;
          background: rgba(255, 64, 64, 1);
          border-radius: 4px;
          font-size: 12px;
          font-weight: 400;
          color: #ffffff;
        }
      }

      .video-duration {
        width: 70px;
        text-align: right;
        height: 16px;
        font-size: 16px;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        line-height: 24px;
      }
    }
  }
}

.recom-courses-title {
  width: 100%;
  height: auto;
  float: left;
  font-size: 18px;
  font-weight: 500;
  color: rgba(51, 51, 51, 1);
  line-height: 27px;
  margin-bottom: 30px;
}

.comment-box {
  width: 100%;
  height: auto;
  float: left;
  margin-bottom: 30px;

  .comment-title {
    width: 100%;
    height: 16px;
    float: left;
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    line-height: 16px;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-top: 20px;
  }

  .comment-input-box {
    width: 100%;
    height: auto;
    float: left;
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0px 4px 8px 0px rgba(229, 229, 229, 1);
    border-radius: 8px;

    .comment-button {
      float: right;
      margin-top: 20px;
      box-shadow: 0px 4px 8px 0px rgba(229, 229, 229, 1);
      border-radius: 20px;
      font-size: 16px;
      font-weight: 400;
      color: #ffffff;
      line-height: 40px;
      padding-left: 36px;
      padding-right: 36px;
      background-color: $primary;
      border: 0px;

      &:focus {
        outline: none;
      }
    }
  }
}

.comment-list-box {
  width: 100%;
  height: auto;
  float: left;
  margin-bottom: 50px;

  .comment-list-item {
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 10px;
    background: #ffffff;
    box-shadow: 0px 4px 8px 0px rgba(229, 229, 229, 1);
    border-radius: 8px;
    padding: 20px 30px;

    .comment-user-avatar {
      width: 70px;
      height: 70px;
      float: left;
      margin-right: 20px;

      img {
        border-radius: 35px;
      }
    }

    .comment-content-box {
      width: 1050px;
      height: auto;
      float: left;

      .comment-user-nickname {
        width: 100%;
        height: auto;
        float: left;
        font-size: 14px;
        font-weight: 600;
        color: rgba(153, 153, 153, 1);
        line-height: 14px;
        margin-bottom: 15px;
      }

      .comment-content {
        width: 100%;
        height: auto;
        float: left;
        font-size: 16px;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        line-height: 20px;
        margin-bottom: 19px;

        p {
          margin-bottom: 0px;
        }
      }

      .comment-info {
        .comment-createAt {
          font-size: 12px;
          font-weight: 400;
          color: rgba(204, 204, 204, 1);
          line-height: 12px;
        }
      }
    }
  }
}

.video-player {
  width: 100%;
  height: 675px;
  float: left;
  background-color: #000000;
  margin-top: -150px;
  z-index: 22;

  #xiaoteng-player {
    width: 1200px;
    height: 675px;
  }

  .buy-this-video, .need-login {
    width: 100%;
    height: auto;
    float: left;
    padding-top: 180px;
    text-align: center;

    h3 {
      margin-bottom: 80px;
      color: $primary;
    }

    .login-text {
      color: $primary;
    }
  }
}

.order-create-box {
  width: 100%;
  height: auto;
  float: left;
  background: #ffffff;
  box-shadow: 0px 4px 8px 0px rgba(229, 229, 229, 1);
  border-radius: 8px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;

  .title {
    width: 100%;
    height: auto;
    float: left;
    font-size: 18px;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    line-height: 27px;
    margin-bottom: 30px;
  }

  .goods-info-box {
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 50px;

    .goods-thumb {
      width: 160px;
      height: 120px;
      float: left;
      margin-right: 30px;

      img {
        border-radius: 2px;
      }
    }

    .goods-info {
      width: 790px;
      height: auto;
      float: left;

      .goods-title {
        width: 100%;
        height: auto;
        float: left;
        font-size: 18px;
        font-weight: 500;
        color: rgba(51, 51, 51, 1);
        line-height: 18px;
        margin-bottom: 30px;
        padding-top: 20px;
      }

      .goods-label {
        width: 100%;
        height: auto;
        float: left;

        .label {
          display: inline-block;
          padding: 8px 10px;
          font-size: 16px;
          font-weight: 400;
          color: rgba(255, 64, 64, 1);
          line-height: 16px;
          border-radius: 2px;
          border: 1px solid rgba(255, 64, 64, 1);
        }
      }
    }

    .goods-price {
      width: 160px;
      height: auto;
      float: left;
      padding-top: 10px;
      text-align: right;

      .price {
        color: rgba(255, 64, 64, 1);
        font-weight: 700;
        font-size: 30px;

        small {
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }

  .promo-code {
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 50px;

    .promo-code-title {
      width: 100%;
      height: auto;
      float: left;
      font-size: 18px;
      font-weight: 500;
      color: rgba(51, 51, 51, 1);
      line-height: 27px;
      margin-bottom: 30px;
    }

    .promo-code-input {
      line-height: 50px;

      input {
        width: 200px;
        height: 50px;
        margin-right: 30px;
        float: left;
      }

      .promo-code-check-button {
        float: left;
        padding-left: 36px;
        padding-right: 36px;
        margin-top: 5px;
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        line-height: 40px;
        background-color: $primary;
        border-radius: 20px;
        margin-right: 30px;
        border: 0px;

        &:focus {
          outline: none;
        }
      }

      .promo-code-info {
        display: none;
        font-size: 14px;
        font-weight: 400;
        color: rgba(255, 64, 64, 1);
        line-height: 14px;
      }
    }
  }

  .payments-box {
    width: 100%;
    height: auto;
    float: left;
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #cccccc;

    .payments-title {
      width: 100%;
      height: auto;
      float: left;
      font-size: 18px;
      font-weight: 500;
      color: rgba(51, 51, 51, 1);
      line-height: 27px;
      margin-bottom: 30px;
    }

    .payments {
      width: 100%;
      height: auto;
      float: left;

      .payment-item {
        width: 230px;
        height: 100px;
        float: left;
        line-height: 100px;
        text-align: center;
        box-shadow: 0px 4px 8px 0px rgba(229, 229, 229, 1);
        margin-right: 30px;
        border-radius: 8px;
        cursor: pointer;

        &.selected {
          border: 3px solid rgba(255, 64, 64, 1);
        }
      }
    }
  }

  .bottom {
    width: 100%;
    height: auto;
    float: left;

    .bottom-info {
      width: 100%;
      height: auto;
      float: left;
      line-height: 50px;
      margin-bottom: 30px;

      .time {
        display: inline-block;
        float: left;
        font-size: 14px;
        font-weight: 400;
        color: rgba(255, 64, 64, 1);
      }

      .charge-info {
        display: inline-block;
        font-size: 18px;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        float: right;
        margin-right: 20px;

        .promo-code-price {
          color: rgba(255, 64, 64, 1);
        }
      }
    }

    .total-price {
      display: inline-block;
      color: rgba(255, 64, 64, 1);
      font-weight: 700;
      font-size: 30px;
      float: right;

      small {
        font-size: 16px;
        font-weight: 600;
      }
    }

    .bottom-button-box {
      width: 100%;
      height: auto;
      float: left;

      .pay-button {
        padding-left: 44px;
        padding-right: 44px;
        line-height: 60px;
        border: 0px;
        font-size: 18px;
        font-weight: 500;
        color: rgba(255, 255, 255, 1);
        background-color: $primary;
        border-radius: 30px;
        float: right;

        &:focus {
          outline: none;
        }
      }
    }
  }
}

.index-latest-banner {
  padding-top: 100px;
  padding-bottom: 106px;
}

.banner-title {
  width: 100%;
  height: 36px;
  float: left;
  font-size: 36px;
  color: rgba(51, 51, 51, 1);
  line-height: 36px;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 70px;
  font-weight: 700;

  img {
    display: inline-block;
    margin-right: 16px;
    margin-top: -5px;
  }

  span.title {
    display: inline-block;
    height: 36px;
  }
}

.announcement-box {
  width: 100%;
  height: 52px;
  float: left;
  background: rgba(255, 249, 215, 1);
  border-radius: 0px 0px 8px 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 52px;
  padding-left: 30px;
  padding-right: 30px;

  a {
    color: #DE7A0B;

    &:hover {
      text-decoration: none;
    }
  }
}

.role-center-banner {
  width: 100%;
  height: 264px;
  background-image: url("/images/member-bg.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  padding-top: 70px;
  background-color: #323232;

  img {
    margin-top: 100px;
  }
}

.role-list-box {
  width: 100%;
  height: auto;
  float: left;
  padding-top: 100px;
  padding-bottom: 100px;
  flex-flow: row wrap;

  .role-list-item {
    width: 320px;
    height: 380px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #ffffff;
    box-shadow: 0px 4px 8px 0px rgba(229, 229, 229, 1);
    border-radius: 8px;
    margin-left: 120px;
    margin-bottom: 50px;
    cursor: pointer;
    border: 3px solid rgba(255, 255, 255, 1);

    &.first {
      margin-left: 0px;
    }

    .name {
      font-size: 30px;
      font-weight: 600;
      color: rgba(50, 50, 50, 1);
      line-height: 30px;
      margin-bottom: 40px;
    }

    .price {
      font-size: 48px;
      font-weight: 700;
      color: rgba(225, 165, 0, 1);
      line-height: 67px;
      letter-spacing: 1px;
      margin-bottom: 50px;

      small {
        font-size: 36px;
      }
    }

    .desc {
      font-size: 18px;
      font-weight: 400;
      color: rgba(153, 153, 153, 1);
      line-height: 20px;
    }

    &.active {
      border: 3px solid rgba(255, 203, 0, 1);
      background-color: #FFEDED;
    }
  }
}

.role-join-button {
  display: inline-block;
  width: 220px;
  height: 60px;
  background: rgba(255, 203, 0, 1);
  box-shadow: 0px 4px 8px 0px rgba(229, 229, 229, 1);
  border-radius: 30px;
  line-height: 60px;
  font-size: 24px;
  font-weight: 400;
  color: rgba(50, 50, 50, 1);
  text-align: center;
  margin-bottom: 170px;

  &:hover, &:focus {
    text-decoration: none;
    color: rgba(50, 50, 50, 1);
    background: rgba(255, 203, 0, .6);
  }
}

.course-show-page-desc {
  img {
    max-width: 100%;
  }
}

.select-payment-model {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
  background-color: rgba(0, 0, 0, .6);

  .select-payment-model-box {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1002;
    margin-top: -207px;
    margin-left: -209px;
    width: 414px;
    height: 418px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 30px;

    .title {
      width: 100%;
      height: auto;
      float: left;
      font-size: 24px;
      font-weight: 600;
      color: rgba(51, 51, 51, 1);
      line-height: 24px;
      margin-bottom: 68px;

      img {
        float: right;
        cursor: pointer;

        &:hover {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
          -webkit-transition: -webkit-transform 1s linear;
          transition: transform 1s linear;
        }
      }
    }

    .content {
      width: 100%;
      height: auto;
      float: left;
      text-align: center;

      .role-text {
        width: auto;
        height: 24px;
        line-height: 1;
        color: rgba(51, 51, 51, 1);
        margin-bottom: 38px;

        img {
          display: inline-block;
          width: 24px;
          height: 24px;
          margin-right: 10px;
          margin-top: -6px;
        }

        span {
          display: inline-block;
          height: 20px;
          font-size: 20px;
          font-weight: 400;
          line-height: 1;
          margin-top: 2px;
        }
      }

      .join-role-button-box {
        width: 100%;
        height: auto;
        float: left;

        .join-role-button {
          display: inline-block;
          width: 255px;
          height: 52px;
          background: rgba(11, 118, 222, 1);
          border-radius: 26px;
          color: #ffffff;
          font-size: 20px;
          font-weight: 400;
          line-height: 52px;

          &:hover {
            background: rgba(11, 118, 222, .6)
          }
        }
      }

      .extra-options {
        width: 100%;
        height: 16px;
        line-height: 1;
        float: left;
        margin-top: 49px;

        .plain-text {
          display: inline-block;
          width: auto;
          height: 16px;
          font-size: 16px;
          font-weight: 400;
          color: rgba(102, 102, 102, 1);
          line-height: 1;
          vertical-align: middle;

          img {
            margin-left: 8px;
            margin-top: -3px;
          }

          &:hover {
            color: rgba(102, 102, 102, .8);
          }
        }
      }
    }
  }
}

.credit1-box {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;

  .left-box {
    flex: 1;
    height: 276px;
    background-color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    .value {
      width: 280px;
      margin: 0 auto;
      margin-top: 120px;
      display: flex;

      .icon {
        width: 50px;
        height: 36px;
        padding: 3px 20px 3px 0;
      }

      .help {
        width: 72px;
        height: 30px;
        padding-top: 9px;
        padding-bottom: 9px;
        font-size: 18px;
        font-weight: 500;
        color: rgba(51, 51, 51, 1);
        line-height: 18px;
      }

      .credit1 {
        flex: 1;
        height: 36px;
        font-size: 36px;
        font-weight: 600;
        color: rgba(51, 51, 51, 1);
        line-height: 36px;
        text-align: right;
      }
    }
  }

  .right-box {
    flex: 1;
    height: 276px;
    background-color: #2694FF;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 20px 40px;

    .title {
      width: 100%;
      height: auto;
      float: left;
      margin-bottom: 20px;
      display: flex;

      .icon {
        width: 66px;
        height: 66px;
        padding-right: 20px;
        float: left;
      }

      .text {
        flex: 1;
        font-size: 18px;
        font-weight: 600;
        color: white;
        line-height: 66px;
      }
    }

    .content {
      width: 100%;
      height: auto;
      float: left;

      .item {
        width: 100%;
        height: auto;
        float: left;
        font-size: 14px;
        font-weight: 400;
        color: white;
        line-height: 26px;
      }
    }
  }
}

.credit1-records-box {
  width: 100%;
  height: auto;
  float: left;
  margin-bottom: 30px;

  .item {
    width: 100%;
    height: auto;
    float: left;
    padding: 30px;
    background-color: white;
    margin-bottom: 1px;
    display: flex;

    .remark {
      flex: 1;
      font-size: 14px;
      font-weight: 400;
      color: rgba(51, 51, 51, 1);
      line-height: 14px;
      text-align: left;
    }

    .value {
      flex: 1;
      height: 16px;
      font-size: 16px;
      font-weight: 600;
      color: rgba(38, 148, 255, 1);
      line-height: 16px;
      text-align: center;
    }

    .date {
      flex: 1;
      text-align: right;
      font-size: 14px;
      font-weight: 400;
      color: rgba(153, 153, 153, 1);
      line-height: 14px;
    }
  }
}

.course-show-page-attach {
  .attach-item {
    width: 100%;
    height: auto;
    float: left;
    display: flex;
    background-color: white;
    padding: 24px 30px;
    border-radius: 5px;
    margin-bottom: 2px;
    cursor: pointer;

    &:hover {
      background-color: rgba(11, 118, 222, .1);
    }

    .name {
      flex: 1;
      font-size: 16px;
      line-height: 16px;
    }

    .size {
      width: 120px;
      height: auto;
      line-height: 16px;
      font-size: 14px;
      text-align: right;
    }

    .option {
      width: 100px;
      height: auto;
      text-align: right;
      font-size: 14px;
      line-height: 16px;
    }
  }
}