.empty-box {
  width: 100%;
  height: auto;
  float: left;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.empty-box > .image-empty-item {
  display: inline-block;
}
.empty-box > .image-empty-item > img {
  width: 120px;
  height: 120px;
}
