.quill-editor-h40-box {
  width: 100%;
  float: left;
  background-color: white;
  .ql-editor {
    min-height: 40px;
  }
}

.quill-editor-box {
  width: 100%;
  float: left;
  background-color: white;
}
