.vod-v1-box {
  width: 100%;
  height: auto;
  float: left;
  box-sizing: border-box;
  position: relative;
  padding-bottom: 40px;
  text-align: left;

  .footer-button {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 400px;
    height: 70px;
    background: #ffffff;
    border-top: 1px solid #e5e5e5;
    box-sizing: border-box;
    padding: 15px 30px;
  }
}
.title {
  width: 100%;
  height: auto;
  float: left;
  box-sizing: border-box;
  border-left: 5px solid #3ca7fa;
  padding-left: 10px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  text-align: left;

  .text {
    width: auto;
    margin-right: 15px;
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    line-height: 16px;
  }
  .desc {
    flex: 1;
    font-size: 12px;
    font-weight: 400;
    color: #999999;
    line-height: 12px;
  }
}

.sliders-box {
  width: 100%;
  height: auto;
  float: left;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 15px;

  .slider-item {
    position: relative;
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 30px;

    .btn-del {
      position: absolute;
      top: -17px;
      right: -17px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .img {
      width: 100%;
      height: auto;
      float: left;
      margin-bottom: 15px;
      cursor: pointer;
    }

    .link {
      width: 100%;
      height: auto;
      float: left;
      display: flex;
      align-items: center;

      .label {
        font-size: 14px;
        font-weight: 400;
        color: #666666;
        line-height: 14px;
        margin-right: 15px;
      }

      .value {
        flex: 1;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.6);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .options {
        width: auto;
        margin-left: 15px;
      }
    }
  }
}
