.vod-course-item-comp {
  width: 100%;
  height: auto;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  border-radius: 8px;
  &:hover {
    box-shadow: 0px 4px 8px 0px rgba(102, 102, 102, 0.1);
    .vod-course-thumb {
      .thumb-bar {
        transform: scale(1.1, 1.1);
      }
    }
  }
  .vod-course-thumb {
    width: 264px;
    height: 198px;
    border-radius: 8px 8px 0px 0px;
    overflow: hidden;
    .thumb-bar {
      width: 100%;
      height: 100%;
      transition: all 0.3s;
    }
  }

  .vod-course-body {
    box-sizing: border-box;
    width: 100%;
    height: 90px;
    background-color: #fff;
    border-radius: 0px 0px 8px 8px;
    padding: 15px 15px 15px 10px;

    .vod-course-title {
      width: 100%;
      height: 20px;
      float: left;
      font-size: 16px;
      font-weight: 600;
      color: #333333;
      line-height: 20px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-bottom: 20px;
      text-align: left;
    }

    .vod-course-info {
      width: 100%;
      height: 20px;
      float: left;
      display: flex;
      align-items: center;

      .vod-course-sub {
        flex: 1;
        text-align: left;
        height: 14px;
        font-size: 14px;
        font-weight: 400;
        color: #999999;
        line-height: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .vod-course-charge {
        flex: 1;
        text-align: right;
        height: 20px;
        font-size: 20px;
        line-height: 20px;
        font-weight: 600;

        .charge-text {
          color: #ff5858;

          .unit {
            font-size: 14px;
          }
        }

        .free-text {
          font-size: 14px;
          color: #04c877;
        }
      }
    }
  }
}
