.login-container {
  width: 1000px;
  height: 600px;
  background: #ffffff;
  box-shadow: 20px 20px 100px 0px rgba(85, 102, 119, 0.1);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  .left_content {
    width: 471px;
    height: 100%;
    background: url(../../assets/login/loginleft_banner.png) no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
  }

  .right_content {
    width: 529px;
    height: 100%;
    box-sizing: border-box;
    text-align: left;
    padding: 0px 35px 0px 49px;
    .title {
      width: auto;
      height: 24px;
      font-size: 24px;
      font-weight: 500;
      color: #000000;
      line-height: 24px;
      margin-top: 65px;
      margin-bottom: 80px;
    }
    .login-box {
      width: 100%;
      margin-top: 50px;
    }
  }
}

.captcha-box {
  width: 125px;
  height: 48px;
  margin-left: 15px;
  border-radius: 8px;
  background-color: rgba(#3ca7fa, 0.1);
  display: flex;

  .catpcha-loading-box {
    width: 125px;
    height: 48px;
    line-height: 54px;
    text-align: center;
  }

  .captcha {
    width: 125px;
    height: 48px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
  }
}
