.bg-fff {
    background-color: #ffffff;
}

.pv-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer {
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    color: #333333;
}

.swiper-box {
    width: 100%;
    float: left;
}

.member-avatar-box {
    float: left;
    padding: 10px;
}

.member-avatar-box .member-avatar-img {
    width: 70px;
    height: 70px;
    border-radius: 35px;
}

.member-info-right-box {
    padding-left: 10px;
    padding-top: 10px;
}