.nav-box {
  width: 171px;
  height: auto;
  display: flex;
  flex-direction: column;
  .nav-content {
    width: 100%;
    height: auto;
    background: #ffffff;
    border-radius: 8px;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    .active-spItem {
      width: 131px;
      height: 44px;
      position: relative;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-weight: 500;
      background: #f1f2f6;
      border-radius: 4px;
      color: #3ca7fa;
      line-height: 14px;
      margin-bottom: 10px;
      &:hover {
        background: #f1f2f6;
        border-radius: 4px;
        color: #3ca7fa;
      }
    }
    .spItem {
      width: 131px;
      height: 44px;
      position: relative;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-weight: 500;
      color: #333333;
      line-height: 14px;
      margin-bottom: 10px;
      &:hover {
        background: #f1f2f6;
        border-radius: 4px;
        color: #3ca7fa;
      }
    }
    .menus-item {
      width: 100%;
      height: auto;
      box-sizing: border-box;
      .item {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0px;
        }
        .active-item-children {
          width: 131px;
          height: 44px;
          position: relative;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          background: #f1f2f6;
          border-radius: 4px;
          color: #3ca7fa;
          line-height: 14px;
          &:hover {
            background: #f1f2f6;
            border-radius: 4px;
            color: #3ca7fa;
          }
          .point {
            position: absolute;
            width: 8px;
            height: 8px;
            background: #ff4d4f;
            border-radius: 50%;
            top: 18px;
            left: 12px;
          }
        }
        .item-children {
          width: 131px;
          height: 44px;
          position: relative;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          font-weight: 500;
          color: #333333;
          line-height: 14px;
          &:hover {
            background: #f1f2f6;
            border-radius: 4px;
            color: #3ca7fa;
          }
          .point {
            position: absolute;
            width: 8px;
            height: 8px;
            background: #ff4d4f;
            border-radius: 50%;
            top: 18px;
            left: 12px;
          }
        }
      }
    }
  }
}
