@import "~bootstrap/scss/bootstrap";

$primary: #0B76DE !default;
$textColor: rgba(11, 118, 222, 1);

.bg-fff {
  background-color: #ffffff;
}

a {
  &:focus, &:hover {
    text-decoration: none;
  }
}

.box {
  width: 100%;
  height: auto;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  background-color: rgba(248, 250, 251, 1);;
}

.focus-c-white {
  &:focus, &:hover {
    color: #ffffff;
  }
}

.logo-banner {
  width: 100%;
  height: auto;
  float: left;
  padding: 12px 15px;
  display: flex;

  .logo {
    display: flex;
    text-align: left;
  }

  .search-icon-box {
    display: block;
    flex: 1;
    text-align: right;
    line-height: 24px;
    color: #666666;

    span {
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 1px;
      margin-left: 5px;
    }
  }
}


.top-menu {
  width: 100%;
  height: auto;
  float: left;
  overflow-y: auto;
  padding: 15px 0 15px 0;
  background-color: #ffffff;
  white-space: nowrap;

  a {
    position: relative;
    display: inline-block;
    color: #666666;
    padding-left: 15px;
    padding-right: 15px;

    .text {
      width: 100%;
      height: auto;
      float: left;
      font-size: 15px;
      font-weight: 400;
      color: #333333;
      line-height: 15px;
      text-align: center;
      padding-bottom: 6px;
    }

    .active-bar {
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -10px;
      width: 20px;
      height: 3px;
      background-color: white;
      border-radius: 3px;
    }

    &.active {
      .text {
        font-weight: bolder;
        color: $primary;
      }

      .active-bar {
        background-color: $primary;
      }
    }
  }
}

.swiper-box {
  width: 100%;
  height: auto;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;

  img {
    border-radius: 4px;
  }
}

.index-banner-box {
  width: 100%;
  height: auto;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;

  .banner-title {
    width: 100%;
    height: auto;
    float: left;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: bolder;
    color: #333333;
    line-height: 16px;
  }
}

.courses {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: auto;
  float: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .banner-course-item {
    display: block;
    width: calc(50% - 4px);
    height: auto;
    float: left;
    line-height: 1;
    margin-bottom: 15px;
    box-shadow: 0 4px 20px 0 rgba(102, 102, 102, 0.1);
    border-radius: 4px;

    &.first {
      padding-left: 0;
      padding-right: 7px;
    }

    .course-thumb {
      width: 100%;
      height: auto;
      float: left;

      img {
        width: 100%;
        height: auto;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
    }

    .course-title {
      width: 100%;
      height: 44px;
      float: left;
      background-color: white;
      padding: 15px 5px;
      font-size: 14px;
      font-weight: 400;
      color: #333333;
      line-height: 14px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .course-info {
      width: 100%;
      height: auto;
      float: left;
      background-color: white;
      padding-bottom: 10px;
      padding-left: 5px;
      padding-right: 5px;
      display: flex;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;

      .course-user-count {
        flex: 1;
        height: auto;
        float: left;
        line-height: 18px;
        font-size: 12px;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
      }

      .course-charge {
        flex: 1;
        height: auto;
        text-align: right;

        .charge-value {
          display: inline-block;
          padding: 4px 8px;
          background: rgba(255, 64, 64, .1);
          border-radius: 9px;
          font-size: 10px;
          font-weight: 600;
          color: rgba(255, 64, 64, 1);
          line-height: 10px;

          &.free-charge {
            background-color: rgba(0, 128, 0, .2);
            color: rgba(0, 128, 0, .7);
          }
        }
      }
    }
  }
}

.top-navbar {
  position: relative;
  width: 100%;
  height: 48px;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ffffff;
  line-height: 1;

  &.primary {
    background-color: $primary;
    color: #ffffff;
  }

  &.dark {
    background-color: #2C2C2C;
    color: #ffffff;
  }

  .back {
    display: inline-block;
    width: 24px;
    height: 24px;
    float: left;
    margin-top: 12px;
  }

  .title {
    position: absolute;
    z-index: 11;
    top: 16px;
    left: 50%;
    margin-left: -60px;
    width: 120px;
    height: 16px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
  }

  .right-menus {
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    height: 48px;
    line-height: 48px;
    padding-right: 15px;
  }
}

.login-title {
  width: 100%;
  height: auto;
  float: left;
  padding-top: 30px;
  padding-bottom: 64px;
  font-size: 24px;
  font-weight: 500;
  color: rgba(51, 51, 51, 1);
  line-height: 1;

  small {
    font-size: 14px;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    padding-top: 10px;
  }
}

.login-form {
  width: 100%;
  height: auto;
  float: left;

  .login-button {
    margin-top: 64px;
    width: 100%;
    height: 48px;
    background: $primary;
    border-radius: 25px;
    line-height: 38px;
    border: 0;
    margin-bottom: 100px;
    color: #ffffff;

    &:focus {
      outline: none;
    }
  }
}

.form-item {
  width: 100%;
  height: auto;
  float: left;
  margin-bottom: 10px;
  display: flex;

  .form-input-item {
    flex: 1;
    height: auto;
    border: 0;
    border-bottom: 1px solid rgba(229, 229, 229, 1);
    padding: 10px 0;
    background-color: rgba(248, 250, 251, 1);;
    font-size: 16px;
    font-weight: 400;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: rgba(204, 204, 204, 1);
    }
  }

  .image-captcha, .send-sms-captcha-box {
    width: 90px;
    height: 48px;
    padding: 10px;
    border-bottom: 1px solid rgba(229, 229, 229, 1);

    button.send-sms-captcha {
      width: 100%;
      height: 100%;
      background-color: $primary;
      color: #ffffff;
      font-size: 14px;
      border: 0;
      border-radius: 2px;

      &:focus {
        outline: none;
      }
    }
  }

  &.protocol {
    font-size: 12px;
  }
}

.socialite-login {
  width: 100%;
  height: auto;
  float: left;
}

.login-link {
  justify-content: flex-end;
  color: rgba(102, 102, 102, 1);

  a {
    color: rgba(102, 102, 102, 1);
  }
}

.courses-menu {
  width: 100%;
  max-width: 100%;
  height: 52px;
  float: left;
  padding: 0 15px;
  border-top: 1px solid #fbfbfb;
  border-bottom: 1px solid #fbfbfb;
  background-color: white;
  overflow-y: auto;
  white-space: nowrap;

  .menu-item {
    display: inline-block;
    width: 56px;
    height: 52px;
    font-size: 14px;
    line-height: 52px;
    margin-right: 15px;

    a {
      color: rgba(0, 0, 0, .5);
    }

    &.active {
      a {
        color: rgba(0, 0, 0, .8);
      }

      font-weight: bolder;
    }
  }
}

.category-box {
  width: 100%;
  height: auto;
  float: left;
  padding: 15px 15px 0 15px;

  .category-box-item {
    width: auto;
    height: auto;
    float: left;
    font-size: 14px;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    line-height: 1;
    margin-right: 30px;
    margin-bottom: 15px;

    &.active {
      color: $primary;
    }
  }
}

.search-input {
  width: 100%;
  height: auto;
  float: left;
  display: flex;
  background-color: #ffffff;
  padding: 10px 8px;
  flex-direction: row;

  .back {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-top: 2px;
  }

  .input {
    flex: 1;
    padding-left: 15px;

    .search-input-text {
      width: 100%;
      height: 32px;
      border-radius: 18px;
      border: 0;
      background-color: rgba(242, 242, 242, 1);
      padding-left: 10px;
      padding-right: 10px;

      &:focus {
        outline: none;
      }
    }
  }
}

.search-title {
  width: 100%;
  height: auto;
  float: left;
  padding: 20px 15px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(51, 51, 51, 1);
  line-height: 16px;
}

.course-info-box {
  width: 100%;
  height: auto;
  float: left;

  .course-thumb {
    width: 100%;
    height: auto;
    float: left;
    position: relative;

    .title {
      position: absolute;
      top: 0;
      z-index: 11;
      width: 100%;
      height: auto;
      float: left;
      padding-top: 12px;
      padding-right: 15px;
      padding-left: 10px;
      display: flex;
      background: linear-gradient(180deg, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, 0) 100%);

      .back {
        display: block;
        width: auto;
        height: auto;
        float: left;
        margin-right: 10px;
      }

      .text {
        flex: 1;
        font-size: 14px;
        font-weight: 400;
        color: white;
        line-height: 14px;
        padding-top: 8px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}

.course-info-menu {
  width: 100%;
  height: auto;
  float: left;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 15px;
  background-color: white;
  display: flex;
  flex-wrap: nowrap;

  .menu-item {
    position: relative;
    width: auto;
    height: auto;
    font-size: 15px;
    font-weight: 400;
    color: #333333;
    line-height: 55px;
    text-align: center;
    margin-right: 40px;

    .active-bar {
      position: absolute;
      display: block;
      bottom: 10px;
      left: 50%;
      margin-left: -10px;
      width: 20px;
      height: 3px;
      background: white;
      border-radius: 3px;
    }

    &.active {
      font-weight: bolder;
      color: $primary;

      .active-bar {
        background-color: $primary;
      }
    }
  }
}

.course-description {
  width: 100%;
  height: auto;
  float: left;
  background-color: #ffffff;
  padding: 15px;
  line-height: 1.2;
  margin-bottom: 50px;

  p {
    margin-bottom: 0;
  }

  img {
    max-width: 100% !important;
  }
}

.course-attach {
  display: none;
  width: 100%;
  height: auto;
  float: left;
  padding: 20px 15px 0 15px;
  background-color: white;

  .course-attach-item {
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 20px;
    display: flex;
    padding: 20px;
    background-color: #F2F6F9;
    border-radius: 8px;

    .file {
      flex: 1;

      .name {
        width: 100%;
        height: auto;
        float: left;
        word-break: break-all;
        font-size: 15px;
        font-weight: 500;
        color: #333333;
        line-height: 15px;
        margin-bottom: 20px;
      }

      .size {
        width: 100%;
        height: auto;
        float: left;
        font-size: 13px;
        font-weight: 400;
        color: #999999;
        line-height: 13px;
      }
    }

    .download-button {
      width: 28px;
      height: auto;
      line-height: 48px;
      margin-left: 10px;

      i {
        font-size: 28px;
        color: #cccccc;
      }
    }
  }
}

.course-chapter {
  display: none;
  width: 100%;
  height: auto;
  float: left;
  margin-bottom: 50px;

  .chapter-title {
    width: 100%;
    height: auto;
    float: left;
    padding: 15px;
    font-size: 15px;
    color: #333333;
    font-weight: bolder;

    .videos-count {
      float: right;
    }
  }

  .chapter-videos {
    width: 100%;
    height: auto;
    float: left;
    display: none;

    &.active {
      display: block;
    }

    .chapter-video-item {
      width: 100%;
      height: 48px;
      padding-left: 15px;
      padding-right: 15px;
      float: left;
      display: flex;
      background-color: #ffffff;
      margin-top: 1px;

      .video-title {
        flex: 1;
        font-size: 14px;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        line-height: 48px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .video-label {
        display: inline-block;
        float: right;
        width: 40px;
        height: 22px;
        background: rgba(255, 64, 64, 1);
        border-radius: 2px;
        line-height: 22px;
        color: #ffffff;
        text-align: center;
        margin-top: 13px;
        font-size: 12px;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
      }

      &.active {
        .video-title {
          color: $primary;
        }
      }
    }
  }
}

.course-comment {
  position: relative;
  display: none;
  width: 100%;
  height: auto;
  float: left;

  .comment-list-box {
    width: 100%;
    height: auto;
    float: left;

    .comment-list-item {
      display: flex;
      padding: 15px;
      margin-bottom: 10px;
      border-bottom: 1px solid rgba(0, 0, 0, .07);

      &:last-child {
        border-bottom: 0;
      }

      .comment-user-avatar {
        width: 32px;
        height: 32px;
        float: left;
        margin-right: 15px;

        img {
          border-radius: 50%;
        }
      }

      .comment-content-box {
        flex: 1;

        .comment-user-nickname {
          width: 100%;
          height: 20px;
          float: left;
          line-height: 20px;
          font-size: 12px;
          color: rgba(0, 0, 0, .6);
          margin-bottom: 5px;
        }

        .comment-content {
          width: 100%;
          height: auto;
          float: left;
          color: rgba(0, 0, 0, .8);
          margin-bottom: 10px;
          font-size: 14px;
          line-height: 18px;

          p {
            margin-bottom: 0;
          }
        }

        .comment-info {
          width: 100%;
          height: auto;
          float: left;
          color: rgba(0, 0, 0, .4);
          font-size: 12px;
        }
      }
    }
  }
}

.video-play-box {
  width: 100%;
  height: 192px;
  float: left;
  background-color: #2C2C2C;
}

#xiaoteng-player {
  width: 100%;
  height: 100%;
}

.role-page-title, .page-title {
  width: 100%;
  height: auto;
  float: left;
  font-size: 16px;
  font-weight: 600;
  color: rgba(51, 51, 51, 1);
  line-height: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.role-item-box {
  width: 100%;
  height: auto;
  float: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .role-item {
    width: calc(50% - 5px);
    height: auto;
    float: left;
    padding: 15px;
    box-shadow: 0 2px 4px 0 rgba(245, 245, 245, 1);
    border-radius: 8px;
    margin-bottom: 15px;
    border: 1px solid #ffffff;
    background-color: #ffffff;

    &:nth-of-type(even) {
      margin-left: 10px;
    }

    &.active {
      border: 1px solid rgba(225, 165, 0, 1);
      background: rgba(255, 237, 237, 1);
    }

    .name {
      width: 100%;
      height: auto;
      float: left;
      font-size: 14px;
      font-weight: 600;
      color: rgba(225, 165, 0, 1);
      line-height: 14px;
      margin-bottom: 20px;
    }

    .price {
      width: 100%;
      height: auto;
      float: left;
      font-size: 28px;
      font-weight: 600;
      color: rgba(51, 51, 51, 1);
      line-height: 24px;
      margin-bottom: 15px;

      small {
        font-size: 18px;
      }
    }

    .desc {
      width: 100%;
      height: auto;
      float: left;
      font-size: 12px;
      font-weight: 400;
      color: rgba(102, 102, 102, 1);
      line-height: 18px;

      p {
        margin-bottom: 0;
      }
    }
  }
}

.role-subscribe-button {
  display: block;
  position: fixed;
  bottom: 0;
  z-index: 88;
  width: 100%;
  height: 49px;
  line-height: 49px;
  text-align: center;
  background: rgba(225, 165, 0, 1);
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;

  &:focus {
    color: #ffffff;
  }
}

.goods-info-box {
  width: 100%;
  height: auto;
  float: left;
  display: flex;

  .goods-thumb {
    width: 165px;
    height: 125px;
    margin-right: 20px;
  }

  .goods-info {
    flex: 1;
    height: auto;

    .title {
      width: 100%;
      height: auto;
      float: left;
      padding-top: 10px;
      font-size: 15px;
      font-weight: 600;
      color: rgba(51, 51, 51, 1);
      line-height: 15px;
      margin-bottom: 30px;
    }

    .goods-labels {
      width: 100%;
      height: auto;
      float: left;

      span.label {
        display: inline-block;
        width: 64px;
        height: 24px;
        float: left;
        border-radius: 2px;
        border: 1px solid rgba(255, 39, 39, 1);
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        color: rgba(255, 39, 39, 1);
        line-height: 24px;
      }
    }
  }
}

.promo-code {
  width: 100%;
  height: auto;
  float: left;

  .title {
    width: 100%;
    height: auto;
    float: left;
    font-size: 16px;
    font-weight: 600;
    color: rgba(51, 51, 51, 1);
    line-height: 16px;
    padding-top: 20px;
    padding-bottom: 20px;

    small {
      color: rgba(51, 51, 51, .7);
    }
  }

  .input {
    .promo-code-input {
      width: 165px;
      height: 36px;
      float: left;
      border-radius: 2px;
      border: 1px solid rgba(204, 204, 204, 1);
      margin-right: 15px;

      &:focus {
        outline: none;
      }
    }

    .promo-code-check-button {
      display: inline-block;
      width: 60px;
      height: 28px;
      background: rgba(11, 118, 222, 1);
      border-radius: 18px;
      font-size: 14px;
      font-weight: 600;
      color: rgba(255, 255, 255, 1);
      line-height: 28px;
      margin-top: 4px;
      text-align: center;
      margin-right: 10px;
    }
  }

  .promo-code-info {
    width: 100%;
    height: auto;
    margin-top: 15px;
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 64, 64, 1);
    line-height: 36px;
  }
}

.payments {
  width: 100%;
  height: auto;
  float: left;

  .payments-item {
    width: 100%;
    height: auto;
    float: left;

    .payment-item {
      display: inline-block;
      width: 108px;
      height: 72px;
      float: left;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 2px 4px 0px rgba(245, 245, 245, 1);
      border-radius: 2px;
      border: 1px solid #ffffff;
      margin-right: 8px;
      text-align: center;
      line-height: 72px;
      cursor: pointer;
      margin-bottom: 8px;

      &.active {
        border: 1px solid rgba(255, 39, 39, 1);
      }
    }
  }
}

.pay-button-box {
  position: fixed;
  bottom: 0;
  z-index: 88;
  width: 100%;
  height: 97px;

  .pay-info {
    width: 100%;
    height: 48px;
    float: left;
    background-color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;

    .promo-code-price {
      display: inline-block;
      float: left;
      font-size: 12px;
      font-weight: 400;
      color: rgba(255, 32, 32, 1);
      line-height: 48px;
    }

    .price {
      display: inline-block;
      float: right;
      font-size: 18px;
      font-weight: 600;
      color: rgba(255, 32, 32, 1);
      line-height: 48px;
    }
  }

  .pay-button {
    display: block;
    width: 100%;
    height: 49px;
    float: left;
    background-color: $primary;
    color: #ffffff;
    text-align: center;
    line-height: 49px;

    &:focus {
      color: #ffffff;
    }
  }
}

.hand-pay-content {
  img {
    max-width: 100%;
  }
}

.videos {
  width: 100%;
  height: auto;
  float: left;

  .course-title {
    width: 100%;
    height: auto;
    float: left;
    padding: 30px 15px 15px 15px;
    font-size: 13px;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    line-height: 1;
  }

  .videos-box {
    width: 100%;
    height: auto;
    float: left;

    .video-item {
      display: inline-block;
      width: 100%;
      height: auto;
      padding: 0px 15px;
      float: left;
      background-color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      color: rgba(51, 51, 51, 1);
      line-height: 48px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.my-orders {
  width: 100%;
  height: auto;
  float: none;

  .order-item {
    width: 100%;
    height: auto;
    float: left;
    background-color: #ffffff;
    padding: 20px 15px;
    margin-top: 10px;
    margin-bottom: 10px;

    .goods-title {
      width: 100%;
      height: auto;
      float: left;
      font-size: 14px;
      font-weight: 600;
      color: rgba(51, 51, 51, 1);
      line-height: 1;
      margin-bottom: 15px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .goods {
      width: 100%;
      height: auto;
      float: left;
      line-height: 1;
      margin-bottom: 15px;

      .goods-status {
        float: left;
        font-size: 14px;
        font-weight: 400;
        color: rgba(102, 102, 102, 1);
        line-height: 14px;
      }

      .goods-charge {
        float: right;
        font-size: 14px;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        line-height: 14px;
      }
    }

    .info {
      width: 100%;
      height: auto;
      float: left;

      .payment {
        float: left;
        font-size: 12px;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        line-height: 12px;
      }

      .date {
        float: right;
        font-size: 12px;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        line-height: 12px;
      }
    }
  }
}

.tabbar-box {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  height: 53px;
  padding-top: 7px;
  padding-bottom: 6px;
  display: flex;
  background-color: white;
  box-shadow: 0 -2px 8px 0 rgba(102, 102, 102, 0.1);

  .tabbar-item {
    flex: 1;
    text-align: center;
    color: #999999;

    &.active {
      color: $primary;
    }

    .icon {
      width: 100%;
      height: 24px;
      float: left;
      line-height: 24px;
      margin-bottom: 5px;

      i {
        font-size: 24px;
      }
    }

    .name {
      width: 100%;
      height: 11px;
      float: left;
      font-size: 11px;
      line-height: 11px;
      font-weight: 400;
    }
  }
}

.clear-block {
  width: 100%;
  height: 50px;
  float: left;
}

.user-detail-page {
  width: 100%;
  height: auto;
  float: left;

  .user-info-box {
    width: 100%;
    height: auto;
    float: left;
    padding: 30px 15px 20px 15px;
    display: flex;

    .avatar {
      width: 66px;
      height: 66px;
      float: left;
      margin-right: 20px;

      img {
        border-radius: 50%;
      }
    }

    .info {
      flex: 1;

      .nickname {
        width: 100%;
        height: auto;
        float: left;
        display: flex;

        .text {
          flex: 1;
          text-align: left;
          font-size: 20px;
          color: #333;
          line-height: 20px;
          font-weight: 600;
          margin-bottom: 13px;
          padding-top: 10px;
        }

        .setting-icon {
          display: block;
          width: auto;
          height: auto;
          padding-top: 5px;

          i {
            font-size: 22px;
            color: #cccccc;
          }
        }
      }

      .stat {
        width: 100%;
        height: auto;
        float: left;
        font-size: 14px;
        font-weight: 400;
        color: #999999;
        line-height: 14px;
      }
    }
  }

  .user-main-menus {
    width: 100%;
    height: auto;
    float: left;
    padding: 0 15px;

    .item {
      width: calc(50% - 5px);
      height: auto;
      float: left;
      background-color: white;
      padding: 25px 20px;
      display: flex;
      border-radius: 8px;
      margin-bottom: 10px;
      line-height: 30px;

      &:nth-of-type(odd) {
        margin-right: 5px;
      }

      &:nth-of-type(even) {
        margin-left: 5px;
      }

      .icon {
        width: 30px;
        height: 30px;
        float: left;
        margin-right: 10px;

        i {
          font-size: 30px;
        }
      }

      .text {
        flex: 1;
        font-size: 16px;
        font-weight: 600;
        color: #333333;
      }
    }
  }

  .user-menus {
    width: 100%;
    height: auto;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;

    .body {
      width: 100%;
      height: auto;
      float: left;
      padding: 0 20px;
      background-color: white;
      border-radius: 8px;

      .menu-item {
        display: flex;
        width: 100%;
        height: auto;
        float: left;
        margin-bottom: 25px;
        margin-top: 25px;

        .icon {
          width: 25px;
          height: auto;
          line-height: 25px;
          margin-right: 15px;

          i {
            font-size: 25px;
          }
        }

        .text {
          flex: 1;
          font-size: 16px;
          font-weight: 600;
          color: #333333;
          line-height: 25px;
        }
      }
    }
  }
}

.member-courses-page {
  width: 100%;
  height: auto;
  float: left;
  margin-top: 15px;
}

.member-credit1-page {
  width: 100%;
  height: auto;
  float: left;
  margin-top: 10px;

  .credit1-item {
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 10px;
    background-color: white;
    padding: 15px 15px;
    display: flex;
    line-height: 20px;

    .title {
      flex: 1;
      font-size: .8rem;
      color: rgba(0, 0, 0, .7);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-break: keep-all;
      text-align: left;
    }

    .sum {
      width: auto;
      padding-left: 10px;
      font-size: 14px;
      font-weight: 600;
      color: rgb(red, .8);
    }
  }
}

.member-messages-page {
  width: 100%;
  height: auto;
  float: left;
  margin-top: 15px;

  .member-message-item {
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 15px;
    background-color: white;
    padding: 15px;

    .date {
      width: 100%;
      height: auto;
      float: left;
      font-size: .7rem;
      line-height: 1;
      color: rgba(0, 0, 0, .5);
      margin-bottom: 8px;
    }

    .content {
      width: 100%;
      height: auto;
      float: left;
      font-size: .8rem;
      color: rgba(0, 0, 0, .7);
      white-space: normal;
      word-break: break-all;
      line-height: 1.4rem;
    }

    &.unread {
      .content {
        color: rgba(0, 0, 0, 1);
      }
    }
  }
}

.member-promoCode-page {
  width: 100%;
  height: auto;
  float: left;

  .create-promo-code-button-box {
    width: 100%;
    height: auto;
    float: left;
    padding: 15px;

    .create-promo-code-button {
      width: 100%;
      height: 42px;
      float: left;
      background-color: $primary;
      border: 1px solid rgba($primary, .9);
      color: white;
      font-size: 1rem;
      text-align: center;
      outline: none;
      border-radius: 5px;
    }
  }

  .promoCode-box {
    width: 100%;
    height: auto;
    float: left;
    background-color: rgba($primary, .9);
    padding: 15px;

    .name {
      width: 100%;
      height: auto;
      float: left;
      font-size: .7rem;
      color: rgba(white, .4);
      margin-bottom: 15px;
    }

    .value {
      width: 100%;
      height: auto;
      float: left;
      text-align: center;

      span {
        font-size: 1.5rem;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: rgba(white, .2);
      }
    }
  }

  .promoCode-desc-box {
    width: 100%;
    height: auto;
    float: left;
    background-color: rgba($primary, .9);
    padding: 15px;

    p {
      margin: 0;
      padding: 0;
      font-size: .9rem;
      color: rgba(white, .8);
      line-height: 2rem;
    }
  }

  .invite-user-item {
    width: 100%;
    height: auto;
    float: left;
    padding: 15px;
    background-color: white;
    margin-bottom: 15px;
    display: flex;
    font-size: .8rem;
    color: rgba(0, 0, 0, .5);
    line-height: 2rem;

    .invite-user-item-nickname {
      flex: 1;
      text-align: left;
    }

    .invite-user-item-date {
      flex: 1;
      text-align: right;
    }
  }

  .balance-box {
    width: 100%;
    height: auto;
    float: left;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba($primary, .9);

    .value {
      width: 100%;
      height: auto;
      float: left;
      text-align: center;
      color: white;
      font-size: 1.5rem;
      margin-bottom: 15px;

      small {
        font-size: .7rem;
      }
    }

    .options {
      width: 100%;
      height: auto;
      float: left;
      text-align: center;

      a {
        color: rgba(white, .4);
        font-size: .7rem;
      }
    }
  }

  .balance-records-box {
    width: 100%;
    height: auto;
    float: left;

    .title {
      width: 100%;
      height: auto;
      float: left;
      font-size: 1rem;
      line-height: 44px;
      color: rgba(0, 0, 0, .7);
      padding-left: 15px;
    }

    .record-item {
      width: 100%;
      height: auto;
      float: left;
      background-color: white;
      padding: 10px 15px;
      margin-bottom: 15px;

      .content {
        width: 100%;
        height: auto;
        float: left;
        display: flex;
        font-size: .9rem;
        line-height: 1rem;
        margin-bottom: 10px;

        .total {
          flex: 1;
          text-align: left;
          color: rgba(red, .8);
        }

        .date {
          flex: 1;
          text-align: right;
          color: rgba(0, 0, 0, .5);
        }
      }

      .desc {
        width: 100%;
        height: auto;
        float: left;
        font-size: .7rem;
        line-height: 1rem;
        color: rgba(0, 0, 0, .5);
      }
    }
  }

  .balance-withdraw-submit-box-shadow {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 111;

    .balance-withdraw-submit-box {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: auto;
      padding: 15px;
      background-color: white;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;

      .title {
        width: 100%;
        height: auto;
        float: left;
        font-size: 1rem;
        margin-bottom: 15px;
        color: #333333;
        text-align: center;
      }

      .cancel-button {
        color: rgba(0, 0, 0, .5);
        line-height: 44px;
        font-size: .9rem;
      }
    }
  }
}

.nav-menus {
  width: 100%;
  height: 45px;
  float: left;
  border-bottom: 1px solid rgba(0, 0, 0, .04);
  background-color: white;
  overflow-x: auto;
  text-align: left;
  white-space: nowrap;
  padding-left: 15px;

  .menu-item {
    display: inline;
    width: auto;
    margin-right: 40px;
    font-size: 15px;
    line-height: 44px;
    color: #666666;

    &.active {
      font-weight: bolder;
      font-size: 16px;
      color: $primary;
    }
  }
}

.user-menus-group {
  width: 100%;
  height: auto;
  float: left;

  .group-menu-item {
    width: 100%;
    height: auto;
    float: left;
    background-color: white;
    padding: 18px 15px;
    font-size: 15px;
    font-weight: 400;
    color: #333333;
    line-height: 15px;
    letter-spacing: 1px;
    margin-bottom: 1px;
  }
}

.logout-button {
  width: 100%;
  height: auto;
  float: left;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color: #3D9FFF;
  line-height: 15px;
  margin-top: 10px;
}

.course-detail-bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 888;
  background-color: white;
  width: 100%;
  height: 60px;
  display: flex;
  padding-left: 15px;
  padding-right: 7px;
  border-top: 1px solid rgba(0, 0, 0, .07);

  .like-button {
    width: 27px;
    height: auto;
    margin-right: 22px;

    .icon {
      width: 100%;
      height: 25px;
      text-align: center;
      margin-bottom: 3px;
      margin-top: 5px;

      i {
        font-size: 25px;
        color: rgba(0, 0, 0, .3);
      }
    }

    .text {
      width: 100%;
      height: 26px;
      float: left;
      line-height: 26px;
      font-size: 11px;
      font-weight: 400;
      color: #666666;
      text-align: center;
    }

    &.active {
      .icon {
        i {
          color: #FFC219;
        }
      }
    }
  }

  .button-item {
    flex: 1;
    display: block;
    text-align: center;
    margin: 10px 8px;
    border-radius: 20px;
    line-height: 40px;
    font-size: 15px;
    font-weight: 400;
    color: white;
  }

  .buy-course-button-item, .see-button-item {
    background-color: $primary;
    color: white;
  }

  .buy-role-button-item {
    background-color: #E1B100;
    color: white;
  }
}

.course-detail-bottom-bar-block {
  width: 100%;
  height: 60px;
  float: left;
}

.course-comment-input-box-shadow {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, .5);

  .course-comment-input-box {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    padding: 30px 15px 0 15px;
    background-color: white;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;

    .title {
      width: 100%;
      height: auto;
      float: left;
      font-size: 1.1rem;
      font-weight: bolder;
      color: #333333;
      line-height: 1;
      margin-bottom: 30px;
    }

    .content {
      width: 100%;
      height: auto;
      float: left;
      margin-bottom: 15px;

      textarea {
        width: 100%;
        height: auto;
        float: left;
        border: 0;
        outline: none;
        resize: none;
        font-size: .8rem;
        background-color: rgba(0, 0, 0, .02);
        padding: 15px;

        &:focus {
          outline: none;
          border: 0;
        }
      }
    }

    .buttons {
      width: 100%;
      height: auto;
      float: left;
      margin-bottom: 15px;

      .submit-comment-button {
        display: block;
        width: 100%;
        height: 44px;
        float: left;
        border-radius: 22px;
        text-align: center;
        font-size: 1rem;
        line-height: 44px;
        background-color: $primary;
        color: white;
      }
    }

    .options {
      width: 100%;
      height: auto;
      float: left;
      margin-bottom: 30px;
      text-align: center;

      .cancel-course-comment {
        color: #cccccc;
        font-size: .9rem;
        text-decoration: none;
      }
    }
  }
}

.video-course-comment-icon {
  position: fixed;
  bottom: 100px;
  right: 15px;
  z-index: 666;
  width: 46px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(102, 102, 102, 0.2);
  border-radius: 50%;

  i {
    color: #999999;
    font-size: 20px;
  }
}

.member-profile-box {
  width: 100%;
  height: auto;
  float: left;
  margin-top: 10px;

  .profile-item {
    width: 100%;
    height: auto;
    float: left;
    display: flex;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 1px;

    .name {
      width: 100px;
      height: 55px;
      line-height: 55px;
      margin-right: 10px;
      font-size: 15px;
      font-weight: 400;
      color: #333333;
    }

    .value {
      flex: 1;
      text-align: right;
      line-height: 55px;
      color: rgba(0, 0, 0, .6);

      label {
        margin: 0;
        padding: 0;
        margin-left: 10px;
      }

      input[type=text] {
        width: 100%;
        height: 55px;
        float: left;
        border: 0;
        text-align: right;
        outline: none;
        color: rgba(0, 0, 0, .6);

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: #cccccc;
        }
      }
    }
  }

  .profile-image-item {
    width: 100%;
    height: auto;
    float: left;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 1px;

    .name {
      width: 100%;
      height: auto;
      float: left;
      font-size: 15px;
      line-height: 32px;
      font-weight: 400;
      color: #333333;
      margin-bottom: 10px;
    }

    .value {
      width: 100%;
      height: auto;
      float: left;

      .image {
        width: auto;
        height: auto;
        float: left;
        margin-right: 15px;
        margin-bottom: 10px;
      }

      .upload-image-button {
        width: 100px;
        height: 100px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
    }
  }
}

.watched-over {
  width: 100%;
  height: auto;
  float: left;
  margin-top: 50px;
  text-align: center;
  display: none;

  .next-video-button {
    display: inline-block;
    width: 95px;
    height: 40px;
    background-color: $primary;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
    color: white;
  }

  .repeat-view-button {
    color: white;
    font-size: 15px;
  }
}