.vod-course-item-comp {
  width: 100%;
  height: auto;
  float: left;
  display: flex;
}

.vod-course-item-comp > .vod-course-thumb {
  width: 120px;
  height: 90px;
  margin-right: 10px;
}

.vod-course-item-comp > .vod-course-thumb > img {
  width: 120px;
  height: 90px;
  border-radius: 4px;
}

.vod-course-body {
  flex: 1;
  padding-top: 5px;
}

.vod-course-body > .vod-course-title {
  width: 100%;
  height: 40px;
  text-align: left;
  float: left;
  font-size: 15px;
  font-weight: 500;
  color: #171923;
  line-height: 20px;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 15px;
}

.vod-course-body > .vod-course-info {
  width: 100%;
  height: auto;
  float: left;
  display: flex;
  align-items: center;
}

.vod-course-body > .vod-course-info > .vod-course-sub {
  flex: 1;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  color: #999999;
  line-height: 12px;
}

.vod-course-body > .vod-course-info > .vod-course-charge {
  flex: 1;
  text-align: right;
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
}

.vod-course-body > .vod-course-info > .vod-course-charge > .charge-text {
  color: #ff5858;
}

.vod-course-body
  > .vod-course-info
  > .vod-course-charge
  > .charge-text
  > .unit {
  font-size: 14px;
}

.vod-course-body > .vod-course-info > .vod-course-charge > .free-text {
  font-size: 14px;
  font-weight: 600;
  color: #52c41a;
}
