.btn-close-icon {
  width: 15px;
  height: 15px;
  background-color: #cccccc;
  color: white;
  border-radius: 50%;
  line-height: 15px;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: rgba(#cccccc, 0.8);
  }
}
